@model prjMusicBetter.Models.TCoupon

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout2";
}

@* ================================================= *@

<main id="main" class="main">
    <!-- 其他內容... -->
    <div class="pagetitle">
        <h1>優惠券清單</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="datatable-container">
                            <table class="table">
                                <!-- 表格標題和內容... -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <form asp-action="Create">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="FCouponContent" class="control-label"></label>
                                                <input asp-for="FCouponContent" class="form-control" />
                                                <span asp-validation-for="FCouponContent" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FCouponCode" class="control-label"></label>
                                                <input asp-for="FCouponCode" class="form-control" />
                                                <span asp-validation-for="FCouponCode" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FDescription" class="control-label"></label>
                                                <input asp-for="FDescription" class="form-control" />
                                                <span asp-validation-for="FDescription" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FStartdate" class="control-label"></label>
                                                <input asp-for="FStartdate" class="form-control" />
                                                <span asp-validation-for="FStartdate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FEnddate" class="control-label"></label>
                                                <input asp-for="FEnddate" class="form-control" />
                                                <span asp-validation-for="FEnddate" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="FPicture" class="control-label"></label>
                                                <input asp-for="FPicture" class="form-control" />
                                                <span asp-validation-for="FPicture" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <input type="submit" value="確定新增" class="btn btn-primary" onclick="return confirmCreate" />
                                                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*   <form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
    <label asp-for="FPicture" class="control-label"></label>
    <input type="file" asp-for="FPicture" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
    </form> *@
</main>
@* ================================================= *@
<script>
    function confirmCreate() {
        return confirm('確定要新增嗎？');
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
