@model prjMusicBetter.Models.TCoupon

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout2";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>修改優惠券</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="datatable-container">
                            <table class="table">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="FCouponId" />
                                            <div class="form-group">
                                                <label asp-for="FCouponContent" class="control-label">優惠券內容</label>
                                                <input asp-for="FCouponContent" class="form-control" />
                                                <span asp-validation-for="FCouponContent" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FCouponCode" class="control-label">優惠券代碼</label>
                                                <input asp-for="FCouponCode" class="form-control" />
                                                <span asp-validation-for="FCouponCode" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FDescription" class="control-label">優惠券描述</label>
                                                <input asp-for="FDescription" class="form-control" />
                                                <span asp-validation-for="FDescription" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FStartdate" class="control-label">開始日</label>
                                                <input asp-for="FStartdate" class="form-control" />
                                                <span asp-validation-for="FStartdate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FEnddate" class="control-label">結束日</label>
                                                <input asp-for="FEnddate" class="form-control" />
                                                <span asp-validation-for="FEnddate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FPicture" class="control-label">圖片</label>
                                                @if (Model.FPicture != null)
                                                {
                                                    <img src="@Url.Content("~/img/CoolPon/" + Model.FPicture)" alt="Current Image" style="width:150px;" />
                                                }
                                                <input type="file" asp-for="FPicture" class="form-control" />
                                                <span asp-validation-for="FPicture" class="text-danger"></span>
                                            </div>
                                            <form asp-action="Edit">
                                                <input type="hidden" asp-for="FCouponId" />
                                                <input type="submit" value="儲存" class="btn btn-danger" onclick="confirmEdit" /> |
                                                <a asp-action="Index" class="btn btn-primary">首頁</a>
                                            </form>                                   
                                        </form>
                                    </div>                                   
                                </div>                              
                            </table>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    function confirmEdit()
    {
        return confirm('確定要更新嗎？');
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
