@model prjMusicBetter.Models.TComment

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="FCommentContent" class="control-label"></label>
            <input asp-for="FCommentContent" class="form-control" />
            <span asp-validation-for="FCommentContent" class="text-danger"></span>
        </div>


        <div class="form-group">
            <input type="submit" value="新增" class="btn btn-primary" />
        </div>
    </form>
</div>
@* @section Scripts {
    <script>
        const url = '/apiTComment/Create';
        const selStyle = document.querySelector('#selectStyle');
        $('#buttonSend').click(function () {

            // 獲取當前的本地時間
            const currentDate = new Date();
            const jsonData = JSON.stringify({
                fMemberId: 1,
                fTitle: $('#fTitle'),
                fContent: $('#fContent'),
                fStyleId: selStyle.value
            })
            console.log(jsonData)
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: jsonData
            }).done(function (data) {
                alert("新增成功")
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("POST request failed: " + textStatus + ", " + errorThrown);
                alert("新增失敗");
            });
        });
        //Style選擇器
        async function loadStyle() {
            const response = await fetch('@Url.Content("~/apiTStyle/List")');
            const data = await response.json();
            const style = data.map(s => `<option value="${s.fStyleId}">${s.fName}</option>`);
            selStyle.innerHTML = style.join("");
        }
        loadStyle();
    </script>
} *@