@{
	ViewData["Title"] = "List2";
}


<!-- Blog section -->
<section class="blog-section spad">
	<div class="container">
		<!-- Blog post -->
		<div class="blog-item">
			<img src="~/img/Article/1.jpg" alt="" width="1200">
			<div class="blog-date">2019年2月8日</div>
			<h3>最爛都市傳說！Netflix《Fyre：國王的豪華音樂節》豪華音樂祭變身荒島惡夢</h3>
			<p>
				在2017年4月27日清晨以前，如果你不知道Fyre音樂節(Fyre Festival)，那麼代表你將失去人生中最接近極樂境界的一次體驗：在毒梟大亨艾斯科巴的巴哈馬小島上，與世界頂尖的名模們摩肩擦踵，享受最頂尖的樂團表演，在熱帶海灘上享受南洋風情的調酒與豪華別墅。但在2017年4月27日之後，Fyre音樂節變成了全球社群平台上的大笑話：泥濘的場地、未完成的住宿營地、沒有名模也沒有樂團演出、你只能得到一塊羞辱用的起司三明治與溼透的床墊(還不一定搶得到)....這是怎麼回事？網飛(Netflix)最新推出的紀錄片《Fyre：國王的豪華音樂節》(Fyre: the greatest party that never happened，簡稱《Fyre》)記錄了整個過程，堪稱精采絕倫。
			</p>
		</div>
		<!-- Blog post -->
		<div class="blog-item">
			<img src="~/img/Article/2.jpg" alt="" width="1200">

			<p>這年頭，在保守主義掛帥的好萊塢裡，電影已經不再刺激，最刺激的銀幕體驗往往來自那些真實犯罪紀實紀錄片。《謀殺犯的形成》(Making a Murderer)與《黑色豪門懸案》(the Jinx)比司法機關更令人相信正義仍在，它們鉅細靡遺地介紹罪案經過，因此推導出與真實判決截然不同的結論，甚至影響了現實司法的行動：《黑色豪門懸案》竟然讓嫌疑犯自願口吐行兇自白。放心，《Fyre》不是兇案紀錄片，但它仍然會讓你得到不輸於那些追兇片的刺激與震撼。 </p>
		</div>

		<div class="blog-item">
			<img src="~/img/Article/3.jpg" alt="" width="1200">

			<p>年僅26歲的天才企業家比利麥法蘭(Billy McFarland)從社交導向的信用卡創新事業起家，他打造了簡化預約藝人行程的app「麥西尼斯」(Magnises)，他的公司號稱有9千萬美金身價....這樣的app新創「企業家」如今仍不是新聞，你可以在TechCrunch等科技媒體上看到數不清的此類天才....但是麥法蘭的野心與天比高，他還要藉著他的名流人脈與吸金手腕，舉辦一場舉世無雙的音樂節，也就是後來惡名昭彰舉世無雙的Fyre音樂節。最終缺乏能力與規劃失當的主辦單位，在舉辦這樣現實層面高難度的離島音樂節過程中完全失控。這場讓賓客遠渡重洋來到的盛會，才開始幾個小時便宣告落幕，許多驚覺被騙的參加者甚至根本無法離開這座離世小島，只得在荒涼破敗的營地度過悽慘的一夜，而後倉皇逃跑。比利後來被控詐欺、他的公司員工帳戶被他盜刷而欠下債款、音樂節當地仍有許多工人與合作廠商沒有收到薪水與帳款。 </p>
		</div>

		<!-- Blog post -->

		<div class="site-pagination">
			<a href="#" class="active">01.</a>
			<a href="#">02.</a>
			<a href="#">03.</a>
			<a href="#">04.</a>
		</div>
	</div>
</section>
<!-- Blog section end -->