
@{
    ViewData["Title"] = "List";
}

<!-- Blog section -->
<style>
    .text-container {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .expanded {
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
    }
</style>
<section class="playlist-section spad">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="section-title col-lg-3">
                <h2>音樂文章</h2>
            </div>
            <div class="container col-lg-9">
                <div class="text-right">
                    <input type="text" name="keywords" placeholder="文章" />
                    <button type="button" class="btn btn-secondary">搜尋</button>
                    <a href="~/Article/Create" type="button" class="btn btn-success">新增文章</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="divList" class="row playlist-area">
            <!--List內容-->
        </div>
        <div id="pagination-container"></div>
    </div>

</section>
<!-- 分頁按鈕區域 -->
<section class="help-section spad pt-0">
	<div class="container">
		<div id="pageButtons" class="text-center">
			<!--分頁按鈕位置-->
		</div>
	</div>
</section>

@section Scripts{
    <script>
        const pageButtonsContainer = $('#pageButtons');
        const onePage = 8;

        function load(pageNumber) {
            const divList = $('#divList')
            $.getJSON('/apiTArticle/List', function (datas) {
                console.log(datas);
                //獲得限定頁面資料
                const limitdatas = datas.slice((pageNumber - 1) * onePage, ((pageNumber - 1) * onePage) + onePage);

                const docFrag = $(document.createDocumentFragment())
                $.each(limitdatas, function (index, item) {
                    const descriSub = item.fContent.length > 15 ? item.fContent.substring(0, 15) + '...' : item.fContent;
                    const card = $(
                        `<a  href="/Article/Details/${item.fArticleId}" class="mix col-lg-3 col-md-4 col-sm-6" >
                                            <div class="playlist-item">
                                                <img src="/img/Article/${item.fPhotoPath}" alt = "" >
                                                        <h5>${item.fTitle}</h5>
                                                <p>${descriSub}</p>
                                            </div>
                                        </a>`);
                    console.log(card);
                    docFrag.append(card);
                })
                divList.html(docFrag)
            })
        }
        load(1);
	//分頁按鈕
		async function loadPage(){
			const response = await fetch('@Url.Content("~/apiTArticle/List")');
			const data = await response.json();
			const dataCount = data.length;
			const pageCount = Math.ceil(dataCount / onePage);
			console.log(pageCount);
			for (let i = 1; i <= pageCount; i++) {
				const button = $(`<button class="btn btn-secondary mr-2">${i}</button>`);
				button.click(function () {
					load(i);
				});
				pageButtonsContainer.append(button);
			}
		}
		loadPage();
    </script>
}
