@model prjMusicBetter.Models.TArticle

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>TArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FMemberId" class="control-label"></label>
                <select asp-for="FMemberId" class ="form-control" asp-items="ViewBag.FMemberId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FContent" class="control-label"></label>
                <input asp-for="FContent" class="form-control" />
                <span asp-validation-for="FContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FStyleId" class="control-label"></label>
                <select asp-for="FStyleId" class ="form-control" asp-items="ViewBag.FStyleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FUpdateTime" class="control-label"></label>
                <input asp-for="FUpdateTime" class="form-control" />
                <span asp-validation-for="FUpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTitle" class="control-label"></label>
                <input asp-for="FTitle" class="form-control" />
                <span asp-validation-for="FTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPhotoPath" class="control-label"></label>
                <input asp-for="FPhotoPath" class="form-control" />
                <span asp-validation-for="FPhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

