@model prjMusicBetter.Models.TClassFav

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TClassFav</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FClass.FClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FMember.FMemberId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FClassFav">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
