@model prjMusicBetter.Models.TWork

@{
    ViewData["Title"] = "List";
}

<style>
    .body-container {
        width: 80%;
        max-width: 1100px;
        margin: auto;
        padding: 0;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .course-title {
        margin: 10px auto;
        margin-left: 20px;
        font-size: 26px;
        font-weight: bold;
    }

    .detail-block {
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        color: #555;
        text-align: center;
    }

    .detail-title {
        font-weight: bolder;
        border-bottom: 2px solid #fc0254;
        padding-bottom: 10px;
        margin: 20px 0;
        margin-bottom: 10px;
        text-align: left;
    }

    .title-container {
        position: relative;
        background: #FFF;
        padding: 15px;
        border-radius: 0 0 3px 3px;
    }

    .course-container {
        width: 80%;
        margin: 50px auto 20px auto;
        overflow: hidden;
    }

    section {
        background-size: auto;
    }

    .teacher-title {
        font-size: 18px;
        color: #888;
    }

    .profile-wrapper {
        width: 150px;
        height: 150px;
        margin: 10px auto;
    }

    .teacher-name {
        text-align: center;
        font-size: 22px;
        color: #555;
        font-weight: bold;
        margin: 10px 0;
    }

    .teacher-intro {
        text-align: left;
        display: none;
        margin: 20px;
        color: #555;
        white-space: pre-wrap;
    }

    .teacher-seemore {
        text-align: center;
        display: block;
        margin: 20px;
    }

    .songs-details-section {
        padding: 50px 38px 50px;
        background: #f9fcfd;
    }

    .teacher-profile-container {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

    .price {
        text-align: center;
        font-size: 22px;
        color: #555;
        font-weight: bold;
        margin: 50px auto 30px auto;
    }

    .btm {
        height: 60px;
        min-width: 167px;
        right: 0;
        top: 0;
        border: none;
        border-radius: 80px;
        color: #fff;
        font-size: 15px;
        background: #fc0254;
        text-align: center;
        clear: both;
    }

    p {
        word-wrap: break-word;
    }

</style>
<!-- Category section -->
<section class="category-section spad">
	<div class="container-fluid">
		<div class="section-title">
			<h2>音樂探索</h2>
		</div>
		<div class="container">
			<div class="category-links">
				<a href="" class="active">Genres</a>
				<a href="">Artists</a>
				<a href="">All Playlist</a>
			</div>
		</div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="category-items col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="category-item">
                            <img src="~/img/playlist/99.jpg" alt="">
                            <div class="ci-text">
                                <h4>周杰倫</h4>
                                <p>Live from Madrid</p>
                            </div>
                            <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="category-item">
							<img src="~/img/playlist/22.jpg" alt="">
                            <div class="ci-text">
                                <h4>楊丞琳</h4>
                                <p>Live from Madrid</p>
                            </div>
                            <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="category-item">
							<img src="~/img/playlist/78.jpg" alt="" height="365">
                            <div class="ci-text">
                                <h4>王力宏</h4>
                                <p>Live from Madrid</p>
                            </div>
                            <a href="artist.html" class="ci-link"><i class="fa fa-play"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
	</div>
</section>
<!-- Category section end -->
<!-- Songs section  -->
<section class="songs-section">
	<div class="  container"/>
            <div class="row">
                <!--  new song -->
                <div class="mix col-12" style="background-color:#F0F0F0;border-radius: 20px; ">
                    <div class="mb-2"></div>
                    <div class="row playlist-item" style="margin: 0;">
                        <div class="col-2" style="margin:0px">
                            <img src="~/img/songs/7.jpg" alt="" style="margin: 0;border-radius: 20px; width: 1px;">
                        </div>
                        <div class="col-3" style="margin:0px">
                            <p>member name</p>
                        </div>
                        <div class="col-7">
                            <p>稻香</p>
                            <audio controls style="width:100%">
                                <source src="~/music-files/1.mp3" type="audio/mpeg" />
                            </audio>
                        </div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                @*   END*@
        <div class=" col-12 mb-2"></div>
                <!--  new song -->
                <div class="mix col-12" style="background-color:#F0F0F0;border-radius: 20px; ">
                    <div class="mb-2"></div>
                    <div class="row playlist-item" style="margin: 0;">
                        <div class="col-2" style="margin:0px">
                            <img src="~/img/songs/7.jpg" alt="" style="margin: 0;border-radius: 20px; width: 1px;">
                        </div>
                        <div class="col-10" style="margin:0px">
                            <div class="row">
                                <div class="col-12 mb-4"></div>
                                <div class="col-12 text-center">
                                    <div class="row">
                                <div class="col-10">  <h5>稻香</h5></div>
                                <div class="col-2"></div>
                                    </div>

                            <p style="margin:0px">member name</p>
                                </div>
                                <div class="col-12">
                                    <audio controls style="width:100%">
                                        <source src="~/music-files/1.mp3" type="audio/mpeg" />
                                    </audio>
                            </div>                  
                </div>
        </div>
                       
                        
                    </div>
                    <div class="mb-2"></div>
                </div>
                @*   END*@
        <div class=" col-12 mb-2"></div>
                <!--  new song -->
                <div class="mix col-12" style="background-color:#F0F0F0;border-radius: 20px; ">
                    <div class="mb-2"></div>
                    <div class="row playlist-item" style="margin: 0;">
                        <div class="col-2" style="margin:0px">
                            <img src="~/img/songs/7.jpg" alt="" style="margin: 0;border-radius: 20px; width: 1px;">
                        </div>
                        <div class="col-3" style="margin:0px">
                            <p>member name</p>
                        </div>
                        <div class="col-7">
                            <p>稻香</p>
                            <audio controls style="width:100%">
                                <source src="~/music-files/1.mp3" type="audio/mpeg" />
                            </audio>
                        </div>
                    </div>
                    <div class="mb-2"></div>
                </div>
                @*   END*@
        <div class="  col-12 mb-2"></div>
                <!--  new song -->
                <div class="mix col-12" style="background-color:#F0F0F0;border-radius: 20px; ">
                    <div class="mb-2"></div>
                    <div class="row playlist-item" style="margin: 0;">
                        <div class="col-2" style="margin:0px">
                            <img src="~/img/songs/7.jpg" alt="" style="margin: 0;border-radius: 20px; width: 1px;">
                        </div>
                        <div class="col-3" style="margin:0px">
                            <p>member name</p>
                        </div>
                        <div class="col-7">
                            <p>稻香</p>
                            <audio controls style="width:100%">
                                <source src="~/music-files/1.mp3" type="audio/mpeg" />
                            </audio>
                        </div>
                    </div>
                    <div class="  col-12 mb-2"></div>
                </div>
                @*   END*@
		</div>
        </section>
