<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
        <a href="index.html" class="site-logo">
            	@* <img src="img/logo.png" alt=""> *@
	<h2 style="color:#fc0254" >Sound</h2>
	<h3 style="color:white">Better</h3>
        </a>
        <div class="header-right">
            <div class="user-panel">
            <a href="#" class="hr-btn">Help</a>
            <span>|</span>
            @*登入功能*@
                <a asp-area="" asp-controller="Home" asp-action="login">Login</a>
                <a asp-area="" asp-controller="Home" asp-action="Register">Create an account</a>
            </div>
        </div>
        @*搜尋列*@
        <input type="text" name="keywords" placeholder="樂器、老師、課程" />
        @*這裡是各大功能*@
        <ul class="main-menu">
            @*找製作*@
            @*<li><a href="index.html">找製作</a></li>*@
            <li><a asp-area="" asp-controller="Project" asp-action="List">找製作</a></li>
            @*找人才*@
            <li><a href="blog.html">找人才</a></li>
            @*找課程*@
           @* <li><a href="blog.html">找課程</a></li>*@
            <li><a asp-area="" asp-controller="Class" asp-action="Index">找課程</a></li>
            @*找場地*@
            <li><a asp-area="" asp-controller="Place" asp-action="Place">找場地</a></li>
            @*音樂專區*@
            <li>
                <a href="#">音樂專區</a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Customer" asp-action="List">客戶管理</a>
                    </li>    
                    <li><a href="playlist.html">專案專區</a></li>
                    @*<li><a href="contact.html">社群討論</a></li>*@
                    <li><a asp-area="" asp-controller="blog" asp-action="List">Blog</a></li>
                   @* <li><a href="contact.html">音樂專區</a></li>*@
                    <li><a asp-area="" asp-controller="MusicShare" asp-action="List">音樂專區</a></li>

                </ul>
            </li>
            @*會員資訊*@
            <li><a href="blog.html">會員資訊</a>
                <ul class="sub-menu">
                    <li class="nav-item">
                      
                        <a href="@Url.Content("~/Members/Profile1")" class="btn btn-light">會員簡介</a>

                        <a href="@Url.Content("~/Members/xxx")" class="btn btn-light">修改個人資料</a>
                    </li>
                </ul>
               
            </li>
        </ul>
    </header>
    <!-- Header section end --> 
            @RenderBody() 
    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-lg-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>About us</h2>
                                <ul>
                                    <li><a href="">Our Story</a></li>
                                    <li><a href="">Sol Music Blog</a></li>
                                    <li><a href="">History</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>Products</h2>
                                <ul>
                                    <li><a href="">Music</a></li>
                                    <li><a href="">Subscription</a></li>
                                    <li><a href="">Custom Music</a></li>
                                    <li><a href="">Footage</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>Playlists</h2>
                                <ul>
                                    <li><a href="">Newsletter</a></li>
                                    <li><a href="">Careers</a></li>
                                    <li><a href="">Press</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 order-lg-1">
                    	@* <img src="img/logo.png" alt=""> *@
	<h2 style="color:#fc0254" >Sound</h2>
	<h3 style="color:white">Better</h3>
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="social-links">
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <script src="~/js//jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
