@{
    Layout = "_Layout2";
}

<style>
    #container {
/*         height: 500px;
        min-width: 310px;
        max-width: 800px; */
        height: 100%; /* 設定高度為100% */
        width: 100%; /* 設定寬度為100% */
        margin: 0 auto;
    }

    .loading {
        margin-top: 10em;
        text-align: center;
        color: gray;
    }
</style>

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<main id="main" class="main">
<div id="container" style="height: 800px"></div>
</main>
@section Scripts{
    <script>
        (async () => {

            const siteData = await fetch('/Place/CountSiteByCity').then(response => response.json());

            const topology = await fetch(
                'https://code.highcharts.com/mapdata/countries/tw/tw-all.topo.json'
            ).then(response => response.json());

            const nameMapping = {
                "Pingtung": "屏東",
                "Tainan City": "台南",
                "Yilan": "宜蘭",
                "Chiayi": "嘉義",
                "Taitung": "台東",
                "Penghu": "澎湖",
                "Kinmen": "金門",
                "Lienchiang": "馬祖",
                "Taipei City": "台北",
                "Chiayi City": " ",
                "Yunlin": "雲林",
                "Kaohsiung City": "高雄",
                "New Taipei City": "新北",
                "Hsinchu City": " ",
                "Hsinchu": "新竹",
                "Keelung City": "基隆",
                "Miaoli": "苗栗",
                "Taoyuan": "桃園",
                "Changhua": "彰化",
                "Hualien": "花蓮",
                "Nantou": "南投",
                "Taichung City": "台中"
            };

            topology.objects.default.geometries.forEach(geometry => {
                const originalName = geometry.properties.name;
                const chineseName = nameMapping[originalName];
                if (chineseName) {
                    geometry.properties.name = chineseName;
                }
            });

            const data = siteData.map(item => [item.fCityId, item.count]);

            // Create the chart
            Highcharts.mapChart('container', {
                chart: {
                    map: topology
                },

                title: {
                    text: '場地分布',
                    style: {
                        fontFamily: 'Microsoft JhengHei, sans-serif', // 設定字型
                        fontSize: '30px' // 設定字體大小
                    }
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },

                colorAxis: {
                    min: 0,
                    stops: [
                        [0, '#52ACFF'], // 低值的顏色
                        [1, '#FFE32C'] // 高值的顏色
                    ]
                },

                series: [{
                    data: data,
                    name: '場地數量',
                    states: {
                        hover: {
                            color: '#E0FFFF'
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}',
                        style: {
                            fontFamily: 'Microsoft JhengHei, sans-serif', // 設定字型
                            fontSize: '15px' // 設定字體大小
                        }
                    }
                }]
            });

        })();

    </script>
}