@{
}
	<section class="contact-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 p-0">
					<!-- Map -->
				<div style="height: 50%">
					<img src="~/img/place1.jpg" class="img-fluid" alt="" style="border: solid; height: 100%; width: 100%">
					</div>
				<div style="height: 50%">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.0109936491817!2d121.54072887537662!3d25.033700977816636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd379a5ec97%3A0x7b7c62872eee38e!2zVGhlIEJhbGwgTXVzaWMgU3R1ZGlvIOmAmeeQg-Wkp-WuieW6lw!5e0!3m2!1szh-TW!2stw!4v1699960006070!5m2!1szh-TW!2stw" id="myIframe" scrolling="no" frameborder="0"
							style="position: relative; height: 100%; width: 100%; border: solid"></iframe>
				</div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="contact-warp">
						<div class="section-title mb-0">
						<h3>The Ball Music Studio 這球大安店</h3>
						</div>
						<br />
						<ul>
						<li style="font-size: 20px">音樂學校</li>
						<li style="font-size: 20px">106台北市大安區復興南路一段390號十號六樓</li>
						<li style="font-size: 20px">0227001600</li>
						</ul>
						<form class="contact-from">
							<div class="row">
								<div class="col-md-6">
								<input type="text" placeholder="請輸入姓名" style="font-size: 20px; border: solid">
								</div>
								<div class="col-md-6">
								<input type="text" placeholder="請輸入E-mail" style="font-size: 20px; border: solid">
								</div>
								<div class="col-md-12">
								<input type="text" placeholder="主旨" style="font-size: 20px; border: solid">
								<textarea placeholder="訊息" style="font-size: 20px; border: solid"></textarea>
								</div>
							</div>
						</form>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="d-flex align-items-center justify-content-center ">
                                            <div class=" imgcontainer d-flex align-items-center justify-content-center col-6">
                                                <img src="~/img/clock.png" alt="" width="20%" height="20%">
                                            </div>
                                            <div class="textgroup text-left col-6">
                                                <h4 class="fs18">請問您要預約什麼時段？<br />（無法點選表示該時段已被預約）</h4>
                                            </div>
                                        </div>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row mt-6 border-bottom">
                                        <div class="col mt-auto mb-auto">
                                            <p class="mt-xl-3 fs16">星期一</p>
                                        </div>
                                        <div class="col mt-auto mb-auto justify-content-between">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="Y1" name="Hours1" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    上午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    下午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    晚上
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    半夜
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-6 border-bottom">
                                        <div class="col mt-auto mb-auto">
                                            <p class="mt-xl-3 fs16">星期二</p>
                                        </div>
                                        <div class="col mt-auto mb-auto justify-content-between">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="Y1" name="Hours1" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    上午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    下午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    晚上
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    半夜
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-6 border-bottom">
                                        <div class="col mt-auto mb-auto">
                                            <p class="mt-xl-3 fs16">星期三</p>
                                        </div>
                                        <div class="col mt-auto mb-auto justify-content-between">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="Y1" name="Hours1" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    上午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    下午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    晚上
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    半夜
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-6 border-bottom">
                                        <div class="col mt-auto mb-auto">
                                            <p class="mt-xl-3 fs16">星期四</p>
                                        </div>
                                        <div class="col mt-auto mb-auto justify-content-between">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="Y1" name="Hours1" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    上午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    下午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    晚上
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    半夜
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-6 border-bottom">
                                        <div class="col mt-auto mb-auto">
                                            <p class="mt-xl-3 fs16">星期五</p>
                                        </div>
                                        <div class="col mt-auto mb-auto justify-content-between">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="Y1" name="Hours1" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    上午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    下午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    晚上
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    半夜
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-6 border-bottom">
                                        <div class="col mt-auto mb-auto">
                                            <p class="mt-xl-3 fs16">星期六</p>
                                        </div>
                                        <div class="col mt-auto mb-auto justify-content-between">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="Y1" name="Hours1" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    上午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    下午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    晚上
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    半夜
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-6 border-bottom">
                                        <div class="col mt-auto mb-auto">
                                            <p class="mt-xl-3 fs16">星期日</p>
                                        </div>
                                        <div class="col mt-auto mb-auto justify-content-between">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="Y1" name="Hours1" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    上午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    下午
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    晚上
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col mt-auto mb-auto">
                                            <div class="form-check">
                                                <input class="form-check-input " type="checkbox" value="hr1" name="Hours1" id="flexRadioDefault1hr">
                                                <label class="form-check-label" for="flexRadioDefault1hr">
                                                    半夜
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="site-btn">預約</button>
				</div>
			</div>
        </div>
    </div>
	</section>

@section Scripts{
	<script>
		const btn = document.querySelector('#btnReserve');

		btn.addEventListener('click', () => {
			alert('場地預約成功')
		})
	</script>
}
