
<style>
    .ss-thumb {
        border-radius: 41px;
        margin-bottom: 22px;
        min-width: 100%;
        width: 250px;
        height: 300px;
    }

    #map {
        height: 300px;
        width: 100%;
        margin-bottom: 22px;
    }

    #geocode-input {
        margin-bottom: 10px;
        width: 100%;
    }
</style>

<section class="similar-songs-section">
    <div class="container-fluid">
        <h3>場地一覽</h3>
        <select class="form-select" id="citySelect">
        </select>
        <br />
        <input type="text" id="geocode-input" placeholder="Enter a location">
        <button id="geocode-button" class="button button-primary">Geocode</button>
        <div id="map"></div>
        <br />
        <div id="divList" class="row playlist-area">
            <!--List內容-->
        </div>
    </div>
</section>

@section Scripts {
    <script>
        const btn = document.querySelector('#btn1');
        const slt = document.querySelector('#citySelect');

        function loadPlaceByCity(cityval) {
            const divList = $('#divList');
            let url = '/Place/QueryByCity';
            if (cityval) {
                url += `?fCityId=${cityval}`;
            }
            $.getJSON(url, function (datas) {
                const docFrag = $(document.createDocumentFragment())
                $.each(datas, function (index, item) {
                    const card = $(
                        `<a class="mix col-lg-4 col-md-5 col-sm-7" href="/Place/Details/${item.fCityId}">
                            <div class="playlist-item">
                                <img src="/img/${item.fPicturePath}" alt = "" class="ss-thumb">
                                <h5>${item.fSiteName}</h5>
                                <h5>${item.fCity}</h5>
                                <h5>@Model${item.fSiteTypeText}</h5><button id="btn1" style="background-color:cornflowerblue;border-radius:8px;float:right" target="_blank">我要預約</button>
                            </div>
                         <br />
                         </a>`);
                    docFrag.append(card);
                })
                divList.html(docFrag)
            })
        }

        function loadPlace() {
            const divList = $('#divList');
            let url = '/Place/List';

            $.getJSON(url, function (datas) {
                const docFrag = $(document.createDocumentFragment())
                $.each(datas, function (index, item) {
                    const card = $(
                        `<a class="mix col-lg-4 col-md-5 col-sm-7" href="/Place/Details/${item.fCityId}">
                                    <div class="playlist-item">
                                        <img src="/img/${item.fPicturePath}" alt = "" class="ss-thumb">
                                        <h5>${item.fSiteName}</h5>
                                        <h5>${item.fCity}</h5>
                                        <h5>@Model${item.fSiteTypeText}</h5><button id="btn1" style="background-color:cornflowerblue;border-radius:8px;float:right" target="_blank">我要預約</button>
                                    </div>
                                 <br />
                                 </a>`);
                    docFrag.append(card);
                })
                divList.html(docFrag)
            })
        }

        loadPlace();

        async function loadCity() {
            const response = await fetch('@Url.Content("~/Place/GetCities")');
            const data = await response.json();
            const style = data.map(s => `<option value="${s.fCityId}">${s.fCity}</option>`);
            slt.innerHTML = style.join("");

            slt.addEventListener('change', async function () {
                const cityval = $('#citySelect').val();
                loadPlaceByCity(cityval);
            });
        }

        loadCity();

        let map;
        let marker;
        let geocoder;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: { lat: -34.397, lng: 150.644 },
                mapTypeControl: false,
            });
            geocoder = new google.maps.Geocoder();
            marker = new google.maps.Marker({
                map,
            });
        }

        function geocodeAddress() {
            const address = document.getElementById("geocode-input").value;
            geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                    map.setCenter(results[0].geometry.location);
                    marker.setPosition(results[0].geometry.location);
                    marker.setMap(map);
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }

        document.getElementById("geocode-button").addEventListener("click", geocodeAddress);

        // 引入 Google Maps JavaScript API
        // const script = document.createElement('script');
        // script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDpJq9VUwOC98iybSUuQggk04ir2ev31aM&callback=initMap&v=weekly';
        // script.defer = true;
        // document.head.appendChild(script);

    </script>
}