
<style>
    .ss-thumb {
        border-radius: 41px;
        margin-bottom: 22px;
        min-width: 100%;
        width: 250px;
        height: 300px;
    }
</style>

<section class="similar-songs-section">
    <div class="container-fluid">
        <h3>場地一覽</h3>
        <select class="form-select" id="citySelect">
        </select>
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="similar-song">
                    <img class="ss-thumb" src="~/img/place1.jpg" alt="">
                    <h4>The Ball Music Studio 這球大安店</h4>
                    <p>台北市</p>
                    <div class="single_player">
                        <div class="jp-audio jp_container_8" role="application" aria-label="media player">
                            <div class="jp-no-solution">
                                音樂學校 <button id="btn1" style="background-color:cornflowerblue;border-radius:8px;float:right" target="_blank">我要預約</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divList" class="row playlist-area">
            <!--List內容-->
        </div>
    </div>
</section>

@section Scripts {
    <script>
        const btn = document.querySelector('#btn1');

        btn.addEventListener('click', async function () {
            var page = await '@Url.Content("~/Place/PlaceDetail")';
            location.href = page;
        })
        function load() {
            const divList = $('#divList')
            $.getJSON('/Place/List', function (datas) {
                const docFrag = $(document.createDocumentFragment())
                $.each(datas, function (index, item) {
                    const card = $(
                        `<a class="mix col-lg-4 col-md-5 col-sm-7">
                                            <div class="playlist-item">
                                                <img src="/img/${item.fPicturePath}" alt = "" class="ss-thumb">
                                                <h5>${item.fSiteName}</h5>
                                                <h5>${item.fCity}</h5>
                                                <h5>@Model${item.fSiteTypeText}</h5><button id="btn1" style="background-color:cornflowerblue;border-radius:8px;float:right" target="_blank">我要預約</button>
                                            </div>
                                            <br />
                                        </a>`);
                    docFrag.append(card);
                })
                divList.html(docFrag)
            })
        }
        load();
        // function loadCity() {
        //     $.getJSON('/Place/GetCities', function (cities) {
        //         const citySelect = $('#citySelect');
        //         $.each(cities, function (index, city) {
        //             citySelect.append($('<option>', {
        //                 value: city.fCityId,
        //                 text: city.fCity
        //             }))
        //         })
        //     })
        // }
    </script>
}