@{
    ViewData["Title"] = "List";
}
   
<div class="container">
  <main>
    <div class="py-5 text-center" style="text-align:left;">
      <h2>結帳</h2>
    </div>

        <div class="card-body">
            <h5 class="card-title" style="font-size:30px">訂單明細</h5>

            <!-- Default Table -->
            <table class="table">
                <thead>
                    <tr>
                       
                        <th scope="col">訂單商品</th>
                        <th scope="col">單價</th>
                        <th scope="col">數量</th>
                        <th scope="col">總價</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>爵士課程</td>
                        <td>$3999</td>
                        <td>10</td>
                        <td>39990</td>
                    </tr>
                </tbody>
            </table>
            <!-- End Default Table Example -->
      

    <div class="row g-5">
     
      <div class="col-md-7 col-lg-8">
       

          <hr class="my-4">

          <h4 class="mb-3">付款方式</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="credit">信用卡</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="debit">Visa金融卡</label>
            </div>
            
          </div>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">姓名</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">信用卡號碼</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">到期日</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            </div>
          </div>



          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">結帳</button>

      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2017–2023 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
  
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="checkout.js"></script>
</>