@{
    ViewData["Title"] = "交易完成";
}

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center;">
    <img src="~/img/ShoppingCart/arrangement.png" alt="" />
    <h2 style="font-size:50px">你已成功購買課程，感謝您</h2>
    <p style="font-size:30px">請去<a href="/Members/Memberclass">我的課程</a>，確認您的課程資訊</p>
</div>




  