@model prjMusicBetter.Models.TMember;

@{
    ViewData["Title"] = "Edit";   
    Layout = "_Layout2";
}
@* =================================================================================== *@
<main id="main" class="main">
    <!-- 其他內容... -->
    <div class="pagetitle">
        <h1>修改會員資料</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="datatable-container">
                            <table class="table">
                                <!-- 表格標題和內容... -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <form asp-action="Edit" method="post"enctype="multipart/form-data">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="FMemberId" />
                                            <div class="form-group">
                                                <label asp-for="FUsername" class="control-label">使用者姓名</label>
                                                <input asp-for="FUsername" class="form-control" />
                                                <span asp-validation-for="FUsername" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FName" class="control-label">姓名</label>
                                                <input asp-for="FName" class="form-control" />
                                                <span asp-validation-for="FName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FPassword" class="control-label">密碼</label>
                                                <input asp-for="FPassword" class="form-control" />
                                                <span asp-validation-for="FPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FPhone" class="control-label">電話</label>
                                                <input asp-for="FPhone" class="form-control" />
                                                <span asp-validation-for="FPhone" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FEmail" class="control-label">電子信箱</label>
                                                <input asp-for="FEmail" class="form-control" />
                                                <span asp-validation-for="FEmail" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FGender" class="control-label">性別</label>
                                                <input asp-for="FGender" class="form-control" />
                                                <span asp-validation-for="FGender" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FBirthday" class="control-label">生日</label>
                                                <input asp-for="FBirthday" class="form-control" />
                                                <span asp-validation-for="FBirthday" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FCreationTime" class="control-label">創立時間</label>
                                                <input asp-for="FCreationTime" class="form-control" />
                                                <span asp-validation-for="FCreationTime" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FIntroduction" class="control-label">自我介紹</label>
                                                <input asp-for="FIntroduction" class="form-control" />
                                                <span asp-validation-for="FIntroduction" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FPermissionId" class="control-label"></label>
                                                <select asp-for="FPermissionId" class="form-control" asp-items="ViewBag.FPermissionId"></select>
                                                <span asp-validation-for="FPermissionId" class="text-danger"></span>
                                            </div>
                                          @*   <div class="form-group">
                                                <label asp-for="FPhotoPath" class="control-label"></label>
                                                <input asp-for="FPhotoPath" class="form-control" />
                                                <span asp-validation-for="FPhotoPath" class="text-danger"></span>
                                            </div> *@
                                           
                                            <div class="form-group">
                                                <label asp-for="FPhotoPath" class="control-label">圖片</label>
                                                @if (Model.FPhotoPath != null)
                                                {
                                                    <img src="@Url.Content("~/img/Member/" + Model.FPhotoPath)" alt="Current Image" style="width:150px;" />
                                                }
                                                <input type ="file" asp-for="FPhotoPath" class="form-control" />
                                                <span asp-validation-for="FPhotoPath"class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="儲存"class="btn btn-primary" />
                                                <a asp-action="Index" class="btn btn-primary">首頁</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>  
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@* =================================================================================== *@
<script>
    function confirmEdit() {
        return confirm('確定要更新嗎？');
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
