@model IEnumerable<prjMusicBetter.Models.TClass>
@{
    ViewData["Title"] = "Index";
}
<style>
    /*粉色底線*/
    .ddd {
        border-bottom: 2px solid #fc0254;
    }

    /*粉色按鈕*/
    .btm {
        height: 60px;
        min-width: 167px;
        right: 0;
        top: 0;
        border: none;
        border-radius: 80px;
        color: #fff;
        font-size: 15px;
        background: #fc0254;
        float: right;
    }

    /*留空白用的*/
    .container.ddd {
        padding-top: 20px; /* 設置上邊距擴展的像素值 */
        padding-bottom: 20px; /* 設置下邊距擴展的像素值 */
    }
</style>
<!-- Playlist section -->
<section class="playlist-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h2>課程專區</h2>
            <div class="container col-lg-12 ddd">
                <div class="text-right ">
                    <select id="selectSkill" class="form-select mr-2"></select>
                    <input type="text" id="txtKeyword" name="keywords" placeholder="關鍵字" class="mr-2" />
                    <button type="button" id="btnSearch" class="btn btn-secondary mr-2">條件搜尋</button>
                    <a href="javascript:void(0);" onclick="CheckLoginAndNavigate()" class="btn btn-success mr-2">新建課程</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="divList" class="row playlist-area">
            <!--List內容-->
        </div>
    </div>
    <div id="pageButtons" class="text-center">
        <!--分頁按鈕位置-->
    </div>
</section>
<!-- Playlist section end -->
<!-- Help section end -->
<section class="help-section spad pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mb-0 pb-4">
                    <h3>找不到合適的課程嗎？ </h3>
                </div>
                <p>
                    想學音樂卻總是不知該如何選擇？有音樂之夢卻總是踏不出去？
                    我們透過多元音樂課程介紹與老師影片讓你輕鬆找到學習目標
                    線上預購、面對面教學的模式，讓你即刻輕鬆體驗音樂的美好。
                </p>
            </div>
            <div class="col-lg-6">
                <div class="d-flex h-100 align-items-end">
                    <form class="search-form">
                        <input type="text" id="txtKeyword" name="keywords" placeholder="關鍵字" class="mr-2" />
                        <button type="button" id="btnSearch" class="btn btn-secondary mr-2">條件搜尋</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Help section end -->
@section Scripts{
    <script>
        const selStyle = document.querySelector('#selectSkill');
        const pageButtonsContainer = $('#pageButtons');//分頁按鈕位置
        const onePage = 8;//一頁要有幾個課程

        function firstLoad(pageNumber) {
            const divList = $('#divList')
            //讀取Json資料
            $.getJSON('/apiTClass/List', function (datas) {
                console.log(datas);

                //獲得限定頁面資料
                //slice(a,b) 陣列datas第a項到第b項的所有資料
                //這裡是第0項到第8項
                const limitdatas = datas.slice((pageNumber - 1) * onePage, ((pageNumber - 1) * onePage) + onePage);

                //做出一個空的容器來存放div
                const docFrag = $(document.createDocumentFragment())

                //讀出每個Json物件
                $.each(limitdatas, function (index, item) {
                    //const descriSub = item.fDescription.length > 15 ? item.fDescription.substring(0, 15) + '...' : item.fDescription;
                    const card = $(
                        `<div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                            <a href="/Class/Viewclass?id=${item.fClassId}">
                                <div class="playlist-item">
                                    <img src="/img/classimg/${item.fThumbnailPath}" alt="">
                                    <h5>${item.fClassName}</h5>
                                </div>
                            </a>
                        </div>`);
                    docFrag.append(card);//.append()將一筆div放入容器中
                })
                divList.html(docFrag)//.html()一次將全部的資料都上傳
            })
        }
        firstLoad(1);

        //載入資料
        function load(pageNumber) {
            const divList = $('#divList')
            const sId = $('#selectSkill').val();
            const keyword = $('#txtKeyword').val(); // 新增的關鍵字搜尋
            //divList.empty();

            $.getJSON('/apiTClass/List', function (datas) {

                let filteredDatas = datas;

                if (sId != 0) {
                    filteredDatas = datas.filter(item => {
                        // 在此添加筛选条件
                        return item.fSkillId == sId;
                    });
                }
                //關鍵字篩選
				if (keyword) {
					filteredDatas = filteredDatas.filter(item => {
						// 在此添加關鍵字搜尋條件，例如在 fClassName 和 fDescription 中搜尋關鍵字
						return item.fClassName.includes(keyword) || item.fDescription.includes(keyword);
					});
				}
				console.log(filteredDatas);

                dataCount = filteredDatas.length;

                //獲得限定頁面資料
                const limitdatas = filteredDatas.slice((pageNumber - 1) * onePage, ((pageNumber - 1) * onePage) + onePage);

                const docFrag = $(document.createDocumentFragment())
                $.each(limitdatas, function (index, item) {
                    const card = $(
                        `<div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                            <a href="/Class/Viewclass?id=${item.fClassId}">
                                <div class="playlist-item">
                                    <img src="/img/classimg/${item.fThumbnailPath}" alt="">
                                    <h5>${item.fClassName}</h5>
                                </div>
                            </a>
                        </div>`);
                    docFrag.append(card);
                })
                divList.html(docFrag)
            })
        }


        //分頁按鈕
        async function loadPage() {
            const response = await fetch('@Url.Content("~/apiTClass/List")');
            const data = await response.json();
            // 獲取所選風格的ID
            const sId = $('#selectStyle').val();
            const keyword = $('#txtKeyword').val();

            // 根據所選風格篩選數據
            let filteredData = data;
            if (sId != 100) {
                filteredData = data.filter(item => item.fSkillId == sId);
            }
            //關鍵字篩選
			if (keyword != '') {
				filteredData = filteredData.filter(item => {
					// 在此添加關鍵字搜尋條件，例如在 fDescription 和 fName 中搜尋關鍵字
					return item.fDescription.includes(keyword) || item.fName.includes(keyword);
				});
			}

            const dataCount = filteredData.length;//有幾筆資料
            const pageCount = Math.ceil(dataCount / onePage);//有幾頁

            // 清空現有按鈕
            pageButtonsContainer.empty();
            for (let i = 1; i <= pageCount; i++) {
                let button = $(`<button class="btn btn-secondary mr-2">${i}</button>`);
                button.click(function () {
                    load(i);//加載第i頁
                });
                pageButtonsContainer.append(button);
            }
        }
        loadPage();

        //Skill選擇器
        async function loadStyle() {
			const response = await fetch('@Url.Content("~/apiTSkills/OnlyIdName")');//從哪裡取得
			const data = await response.json();//接收回傳的資料
			const defaultOption = '<option value="0">請選擇類別</option>';
			const styleOptions = data.map(s => `<option value="${s.fSkillId}">${s.fName}</option>`);//要把取得的資料作什麼加工
			styleOptions.unshift(defaultOption);
			selStyle.innerHTML = styleOptions.join("");//加入到指定的位置
		}
        loadStyle();//啟動

        //搜尋按鈕
       $('#btnSearch').click(function () {		
			//讀取條件篩選後第一頁,重新讀取分頁頁碼
			load(1);
			loadPage();
			//$('#txtKeyword').val('');
		});		

        //判斷是否登入
        async function CheckLoginAndNavigate() {
            const response = await fetch(`@Url.Content("~/apiHome/IsLogin")`);
            const isLogin = await response.json();

            if (isLogin) {
                // 如果已登錄，導航到 ClassController/Create
                window.location.href = "@Url.Action("Create", "Class")";
            } else {
                // 如果未登錄，導航到 Home/Login
                window.location.href = "@Url.Action("Login", "Home")";
            }
        }
    </script>
}