@model IEnumerable<prjMusicBetter.Models.TMember>
@{
    ViewData["Title"] = "Nostudent";
}
<style>
    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center; /* 水平居中 */
    }
</style>
<section class="playlist-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h1>課程學生一覽表</h1>
        </div>
        <div>
            <h2>已經一個學生都沒有啦</h2>
        </div>
    </div>
</section>
