
@{
    ViewData["Title"] = "Viewclass";
}

<!-- Player section -->
<section class="player-section set-bg" data-setbg="img/player-bg.jpg">
	<div class="player-box">
		<div class="tarck-thumb-warp">
			<div class="tarck-thumb">
				<img src="~/img/classimg/1.jpg" alt="">
			</div>
		</div>
		<div class="wave-player-warp">
			<div class="row">
				<div class="col-lg-8">
					<div class="wave-player-info">
						<h2>輕鬆學配樂！</h2>
						<p>
							本課程將用深入淺出的教學方式，
							解密電影配樂帶來的震撼及感動！
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Player section end -->
<!-- Songs details section -->
<section class="songs-details-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3">
				<div class="song-details-box">
					<h3>課程簡介</h3>
					<p>
						您是否身陷過電影配樂的黑洞中，
						情緒被重重感染，
						因而無法自拔呢？

						您是否也想創造這樣的悸動，
						在自己及每個人的生命裡，
						留下足跡呢？

						本課程將用深入淺出的教學方式，
						解密電影配樂帶來的震撼及感動！

						您，
						也可以是創造那份感動的人！

						・

						Photo by James Owen on Unsplash
					</p>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="row">
					<div">
						<div class="song-details-box">
							<h3>課程說明</h3>
							<p>
								本課程適合什麼人？
								有基本音樂能力，懂得操作電腦，對各類配樂創作（尤其是影像配樂創作）有興趣之無基礎初學者、進階學習者、興趣培養者與升學考試者（若有短期衝刺班計畫，費用則會視情況另計）。

								老師有什麼特色？
								可視情況中、英語授課，且老師很有耐心！因為我堅信：音樂是美好的！任何令人討厭音樂的理由，都是人為因素。我希望，學生可以討厭老師，但不要因此討厭音樂 QQ

								我會學習到什麼？
								DAW的建立及軟體使用、基礎音樂能力（樂理、聽音、基本和聲進行與和弦概念）、基礎樂器學、影片配樂的創作技巧與分析（以管弦樂風格為主，其他樂曲風格為輔）、各類樂風之仿作與在電影中的應用、音樂製作產業之作業流程、電影音樂賞析及作曲家小知識等等。可依學生期許及學習目標客製化，彈性調整上課進度。

								我要帶什麼去上課？
								第一堂課將重點放在了解學生的程度，以及學生期許之學習目標。無基礎者，將由老師協助，從建立自己簡單的音樂工作站開始。有基礎者，可先將自己的筆電與作品帶來，讓老師了解學生的情況和特色。本課程建議要準備自己的DAW （Digital Audio Workstation），用以練習實作與創作，不限於PC或MAC。但若從軟體操作開始學習的話，建議使用Mac搭配Logic。

								我需要注意什麼？
								一顆熱愛音樂、不畏艱難的心很重要！奠定良好的基礎，是日後進階學習高深、複雜技巧的基石。每位學生的學習狀況與進度各不相同，關鍵還是在耐心與恆心地學習。因此我會建議，穩穩地踏著自己的步伐前進，腳踏實地克服自己學習的障礙，才是進步的正確道路。

								一期一堂、四堂和八堂課，有什麼不一樣呢？
								基本上從零基礎，到至少能完成製作音樂的階段，需要一段時間。若按部就班、照表操課的話，大約需要十二堂課、三個月左右的時間。但每個人的學習狀況不同，因此老師也會視學生的情況，做課綱的調整。故在此提供的堂數選擇，都有其基本的功用及進度：《一堂課》屬體驗課程，引領學生入門，並建立觀念；《四堂課》則由架設音樂工作站，至實際軟體操作為主；《八堂課》則延伸四堂課的進度，開始進入琢磨基礎音樂能力、基礎樂器學，及電影影像、劇情、樂曲風格分析、實作、仿作的階段；《十二堂課》則延續八堂課的進度，進入個人創作及實戰演練的階段（因系統限制，此進度需自行再購買四堂課）。不過再次強調，每個人的進度不同；有基礎者經評估後，也可直接跳至進階學習階段。因此第一堂課，老師需要先了解學生學習的狀況和程度，才能量身訂製屬於學生個人的進度表。

								我還有問題想問——
								若想更瞭解老師的話，請上官網：shuoanchen.com
								若不確定自己應該上哪堂課，想尋求建議的話，也歡迎來信洽詢：chensa0207@gmail.com

								期待與您一同創造美好的音樂！^^


								#配樂 #創作 #電影 #作曲 #家教 #一對一 #音樂無壓力 #老師有耐心 #量身打造 #彈性進度 #客製化 #基礎 #進階 #興趣培養 #升學考試
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Songs details section -->
<!-- Similar Songs section -->
<section class="similar-songs-section">
	<div class="container-fluid">
		<h3>你可能會想看的其他課程</h3>
		<div class="row playlist-area">
			<div class="mix col-lg-3 col-md-4 col-sm-6 artists">
				<div class="playlist-item">
					<img src="~/img/classimg/2.jpg" alt="">
					<h5>《什麼？歌曲創作也可以很簡單！》</h5>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 movies">
				<div class="playlist-item">
					<img src="~/img/classimg/3.jpg" alt="">
					<h5>基礎電影配樂課</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Similar Songs section end -->