<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center" style="margin-top: 50px; margin-bottom: 20px;">
            <h2 class="text-primary">Oops!!</h2>
        </div>
        <div class="col-md-8 offset-md-2">
            <iframe src="https://giphy.com/embed/zI2xxBtbAig6Y" width="100%" height="auto" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div class="col-12 text-center" style="color:red; margin-top: 20px; margin-bottom: 50px;">
            <h3>Thank you</h3>
        </div>
    </div>
</div>

