<br />
<br />
<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-bg-primary text-center">Order Placed Successfully!</h2>
        <br /><br />
        <img src="~/img//artist.jpg" width="25%" />
    </div>
    <h3 class="col-12 text-center" style="color:aqua">
        <br />
        Thank yoy for shopping with US <br />
    </h3>
</div>