
@{
    ViewData["Title"] = "ApplyConfirm";
}
<section class="intro-section spad">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-8 order-2 order-lg-1">
                                <p class="text-start h3 fw-bold mb-3 mx-1 mx-md-1 mt-1">自我介紹:</p>


                                <div class="form-floating">
                                    <textarea class="form-control mb-3" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>                                   
                                </div>
                                <div class="form-floating">
                                    <a href="~/project/list" type="button" class="btn btn-success">確認應徵</a>
                                    <a href="~/project/apply" type="button" class="btn btn-secondary">取消</a>
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-4 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     id="img" class="img-fluid" *@ alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</section>
