
@{
    ViewData["Title"] = "Apply";
}

<!-- Intro section -->
<section class="intro-section spad">

	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<img src="~/img/playlist/1.jpg" alt="">
			</div>
			<div class="col-lg-9">
				<h2>主流製作找歌手</h2>
				<div class="text-right">
					<button href="#" class="btn btn-danger btn-lg">應徵</button>
					<button href="#" class="btn btn-warning btn-lg">追蹤專案</button>
					</div>
				<p>
					我們正在尋找充滿熱情、富有才華的合作歌手，與我們一同打造音樂的奇蹟！如果你擁有獨特的音樂風格、深厚的表演功力，或是對創作充滿激情，那麼你可能是我們一直在等待的夥伴。
					我們的音樂旅程充滿著冒險與驚喜，我們相信每位歌手都是獨特的音樂故事，而你的故事將成為我們音樂宇宙中璀璨的星辰。加入我們，你將有機會參與精彩的音樂活動、錄音室製作，與一群充滿創意的音樂人一同合作。
					我們不僅提供一個支持性的環境，更讓你有空間展現個人風采，共同追尋音樂之美。如果你渴望成為音樂舞台上的亮眼之星，請立即與我們聯絡，分享你的音樂作品，讓我們一同譜寫動人的樂章！
					期待與你攜手走向音樂的新境界。
				</p>				
			</div>
		</div>		
	</div>
	<div class="container">
		<div class="col-lg-6">
			<div class="song-details-box">
				<h3>專案Demo</h3>
				<!-- song -->
				<div class="song-item">
					<div class="row">
						<div class="col-xl-5 col-lg-12 col-md-5">
							<div class="song-info-box">
								<img src="img/songs/1.jpg" alt="">
								<div class="song-info">
									<h4>Project Demo01</h4>
									<p>One Night in Ibiza</p>
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-12 col-md-7">
							<div class="single_player_container">
								<div class="single_player">
									<div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="music-files/1.mp3"></div>
									<div class="jp-audio jp_container_1" role="application" aria-label="media player">
										<div class="jp-gui jp-interface">

											<!-- Player Controls -->
											<div class="player_controls_box">
												<button class="jp-prev player_button" tabindex="0"></button>
												<button class="jp-play player_button" tabindex="0"></button>
												<button class="jp-next player_button" tabindex="0"></button>
												<button class="jp-stop player_button" tabindex="0"></button>
											</div>
											<!-- Progress Bar -->
											<div class="player_bars">
												<div class="jp-progress">
													<div class="jp-seek-bar">
														<div>
															<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
														</div>
													</div>
												</div>
												<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- song -->
				<div class="song-item">
					<div class="row">
						<div class="col-xl-5 col-lg-12 col-md-5">
							<div class="song-info-box">
								<img src="img/songs/2.jpg" alt="">
								<div class="song-info">
									<h4>Project Demo02</h4>
									<p>Dream in colors</p>
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-12 col-md-7">
							<div class="single_player_container">
								<div class="single_player">
									<div class="jp-jplayer jplayer" data-ancestor=".jp_container_2" data-url="music-files/2.mp3"></div>
									<div class="jp-audio jp_container_2" role="application" aria-label="media player">
										<div class="jp-gui jp-interface">

											<!-- Player Controls -->
											<div class="player_controls_box">
												<button class="jp-prev player_button" tabindex="0"></button>
												<button class="jp-play player_button" tabindex="0"></button>
												<button class="jp-next player_button" tabindex="0"></button>
												<button class="jp-stop player_button" tabindex="0"></button>
											</div>
											<!-- Progress Bar -->
											<div class="player_bars">
												<div class="jp-progress">
													<div class="jp-seek-bar">
														<div>
															<div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
														</div>
													</div>
												</div>
												<div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
            <div class="col-lg-3">
                <h3>應徵專長需求</h3>
            </div>
            <div class="col-lg-12">
                <p>
                    擅長英文，發音正確，擅長爵士風格的女性歌手。
                </p>
            </div>
		</div>      
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<h3>專案資訊</h3>
			</div>
			<div class="col-lg-12">
				<p>
					沒有錢音樂公司製作
				</p>
			</div>
		</div>
	</div>
</section>
<!-- Intro section end -->
