
@{
    ViewData["Title"] = "List";
}


<!-- Playlist section -->
<section class="playlist-section spad">
	<div class="container-fluid">
		<div class="section-title">
			<h2>找專案</h2>
		</div>
		<div class="container">
			<ul class="playlist-filter controls">
				<li>
                    <input type="text" name="keywords" placeholder="專案" />
                    <button type="button" class="btn btn-secondary">搜尋</button>
				</li>
				<button type="button" class="btn btn-secondary">串建專案</button>
				
				
			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="row playlist-area">
			<div class="mix col-lg-3 col-md-4 col-sm-6 genres">
				<div class="playlist-item">
					<img src="~/img/playlist/1.jpg" alt="">
					<h5>主流品牌找編曲</h5>
					<p>具豐富音樂實力，熱衷演出與創作，期待成為您活動的音樂亮點，用音樂為現場注入活力與感動。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 artists">
				<div class="playlist-item">
					<img src="~/img/playlist/2.jpg" alt="">
					<h5>婚禮樂團找長期合作歌手</h5>
					<p>婚禮樂團徵歌手，共創浪漫樂章。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 movies">
				<div class="playlist-item">
					<img src="~/img/playlist/3.jpg" alt="">
					<h5>獨立製作找吉他手</h5>
					<p>獨立音樂尋吉他手，共譜新旋律。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 labels">
				<div class="playlist-item">
					<img src="~/img/playlist/4.jpg" alt="">
					<h5>主流製作找作詞</h5>
					<p>應徵作詞，心動文字寫成。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 genres">
				<div class="playlist-item">
					<img src="~/img/playlist/5.jpg" alt="">
					<h5>婚禮樂團找長期合作歌手</h5>
					<p>婚禮樂團徵歌手，共創浪漫樂章。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 artists">
				<div class="playlist-item">
					<img src="~/img/playlist/6.jpg" alt="">
					<h5>獨立製作找吉他手</h5>
					<p>獨立音樂尋吉他手，共譜新旋律。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 movies">
				<div class="playlist-item">
					<img src="~/img/playlist/7.jpg" alt="">
					<h5>主流製作找作詞</h5>
					<p>應徵作詞，心動文字寫成。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 labels">
				<div class="playlist-item">
					<img src="~/img/playlist/8.jpg" alt="">
					<h5>主流製作找作詞</h5>
					<p>應徵作詞，心動文字寫成。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 genres">
				<div class="playlist-item">
					<img src="~/img/playlist/9.jpg" alt="">
					<h5>主流製作找作詞</h5>
					<p>應徵作詞，心動文字寫成。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 artists">
				<div class="playlist-item">
					<img src="~/img/playlist/10.jpg" alt="">
					<h5>獨立製作找吉他手</h5>
					<p>獨立音樂尋吉他手，共譜新旋律。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 movies">
				<div class="playlist-item">
					<img src="~/img/playlist/11.jpg" alt="">
					<h5>獨立製作找吉他手</h5>
					<p>獨立音樂尋吉他手，共譜新旋律。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 labels">
				<div class="playlist-item">
					<img src="~/img/playlist/12.jpg" alt="">
					<h5>獨立製作找吉他手</h5>
					<p>獨立音樂尋吉他手，共譜新旋律。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 genres">
				<div class="playlist-item">
					<img src="~/img/playlist/13.jpg" alt="">
					<h5>獨立製作找吉他手</h5>
					<p>獨立音樂尋吉他手，共譜新旋律。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 artists">
				<div class="playlist-item">
					<img src="~/img/playlist/14.jpg" alt="">
					<h5>獨立製作找吉他手</h5>
					<p>獨立音樂尋吉他手，共譜新旋律。</p>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 movies">
				<div class="playlist-item">
					<img src="~/img/playlist/15.jpg" alt="">
					<h5>獨立製作找吉他手</h5>
					<p>獨立音樂尋吉他手，共譜新旋律。</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Playlist section end -->
<!-- Help section end -->
<section class="help-section spad pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="section-title mb-0 pb-4">
					<h2>Need Help to find music? </h2>
				</div>
				<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
			</div>
			<div class="col-lg-6">
				<div class="d-flex h-100 align-items-end">
					<form class="search-form">
						<input type="text" placeholder="Hit it">
						<button>Search</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Help section end -->