@model prjMusicBetter.Models.TSite

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout2";
}
<main id="main" class="main">
<h1>新增場地</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FSiteName" class="control-label">場地名稱</label>
                <input asp-for="FSiteName" class="form-control" />
                <span asp-validation-for="FSiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMemberId" class="control-label">會員</label>
                <select asp-for="FMemberId" class ="form-control" asp-items="ViewBag.FName"></select>
            </div>
            <div class="form-group">
                <label asp-for="FPhone" class="control-label">連絡電話</label>
                <input asp-for="FPhone" class="form-control" />
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSiteType" class="control-label">場地類型</label>
                    <select asp-for="FSiteType" class="form-control">
                        <option selected value="1">音樂學校</option>
                        <option value="2">錄音室</option>
                    </select>
            </div>
            <div class="form-group">
                <label asp-for="FCityId" class="control-label">城市</label>
                <select asp-for="FCityId" class ="form-control" asp-items="ViewBag.FCity"></select>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label">地址</label>
                <input asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPicture" class="control-label">圖片</label>
                <img id="imgPreview" src="~/img/playlist/13.jpg" style="border-radius:10px; max-width: 400px; max-height: 400px;">
                <input asp-for="FPicture" class="form-control btn btn-success" type="file" id="imgFile" name="formFile"/>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="新增場地" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">返回上一頁</a>
</div>
</main>

@section Scripts{
    <script>
        var arrayBuffer;

        $("#imgFile").bind("change", function () {
            var file = this.files[0];
            var allowType = "image.*";
            if (file.type.match(allowType)) {
                //預覽
                var reader = new FileReader();
                reader.onload = function () {
                    arrayBuffer = this.result;
                    var blob = new Blob([arrayBuffer], {
                        type: "image/jpeg"
                    });
                    var urlCreator = window.URL || window.webkitURL;
                    var imageURL = urlCreator.createObjectURL(blob);
                    $("#imgPreview").attr("src", imageURL);
                };
                reader.readAsArrayBuffer(this.files[0]);
            }
            else {
                alert("不支援的檔案類型");
            }
        });
    </script>
}