@model prjMusicBetter.Models.TSite

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout2";
}
<main id="main" class="main">
<h1>Create</h1>

<h4>TSite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FSiteName" class="control-label"></label>
                <input asp-for="FSiteName" class="form-control" />
                <span asp-validation-for="FSiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMemberId" class="control-label"></label>
                <select asp-for="FMemberId" class ="form-control" asp-items="ViewBag.FMemberId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FPhone" class="control-label"></label>
                <input asp-for="FPhone" class="form-control" />
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSiteType" class="control-label"></label>
                <input asp-for="FSiteType" class="form-control" />
                <span asp-validation-for="FSiteType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCityId" class="control-label"></label>
                <select asp-for="FCityId" class ="form-control" asp-items="ViewBag.FCityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label"></label>
                <input asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</main>
