@model prjMusicBetter.Models.TSite

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout2";
}
<main id="main" class="main">
    <h1>修改場地</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="FSiteId" />
                <div class="form-group">
                    <label asp-for="FSiteName" class="control-label">場地名稱</label>
                    <input asp-for="FSiteName" class="form-control" />
                    <span asp-validation-for="FSiteName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FMemberId" class="control-label">會員</label>
                    <select asp-for="FMemberId" class="form-control" asp-items="ViewBag.FName"></select>
                    <span asp-validation-for="FMemberId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FPhone" class="control-label">電話</label>
                    <input asp-for="FPhone" class="form-control" />
                    <span asp-validation-for="FPhone" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FSiteType" class="control-label">場地類型</label>
                    <select asp-for="FSiteType" class="form-control">
                        <option selected value="1">錄音室</option>
                        <option value="2">音樂教室</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FCityId" class="control-label">城市</label>
                    <select asp-for="FCityId" class="form-control" asp-items="ViewBag.FCity"></select>
                    <span asp-validation-for="FCityId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="FAddress" class="control-label">地址</label>
                    <input asp-for="FAddress" class="form-control" />
                    <span asp-validation-for="FAddress" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="儲存" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index">回場地列表</a>
    </div>
</main>
