<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<head>
    <style>
        html {
            scroll-behavior: smooth;
        }      
    </style>
</head>
<body class="bg-gray-200" style="background-image: linear-gradient(to right, #64b3f4, #c2e59c);">
    <div class="flex justify-center items-center h-screen">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden w-4/4 lg:flex">
            <div class ="bg-blue-100 w-full lg:w-1/3">
                <h1 class="text-center text-2xl font-semibold text-gray-800">聊天室</h1>
                <div class="py-4 px-6">
                    <div class="mt-4">
                        <div class="flex justify-between items-center">
                            <h2 class="text-xl font-semibold text-gray-800">聊天室</h2>
                            <div class="text-right">
                                <span class="text-gray-600">個人 ID:</span>
                                <span class="font-semibold" id="SelfID">oey-CbCqnBsthweQorVQA</span>
                            </div>
                        </div>
                        <input type="text" class="border-gray-300 border-2 rounded-lg w-full px-4 py-2 mb-3" id="message" placeholder="發送訊息">
                        <input type="text" class="border-gray-300 border-2 rounded-lg w-full px-4 py-2 mb-3" id="sendToID" placeholder="指定 ID">
                        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 w-full rounded" id="sendButton">
                            傳送訊息
                        </button>
                    </div>
                </div>          
            </div>
            <div class="w-full lg:w-2/3">
                <div class="px-6 py-4">
                    <div class="flex justify-between">
                        <h3 class="text-gray-800 font-semibold mb-3">聊天內容</h3>
                        <h3 class="text-gray-800 font-semibold mb-3">連線 ID 列表</h3>
                    </div>
                    <div class="flex">
                        <div class="w-1/2 pr-2">
                            <ul class="border-gray-300 border-2 rounded-lg overflow-auto h-56" id="Content">

                            </ul>
                        </div>
                        <div class="w-1/2 pl-2">
                            <ul id="IDList" class="border-gray-300 border-2 rounded-lg overflow-auto h-56">
                            </ul>
                        </div>
                    </div>
                </div>
           </div>
        </div>        
    </div>
</body>
</html>


@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        //與Server建立連線
        connection.start().then(function () {
            console.log("Hub 連線完成");
            //呼叫後端方法以獲取會員 ID
            connection.invoke("GetMemberId").then(function (memberId) {
                // 使用從後端獲取的會員 ID
                $('#SelfID').html(memberId);
            });

        }).catch(function (err) {
            alert('連線錯誤: ' + err.toString());
        });

        // 更新連線 ID 列表事件
        connection.on("UpdList", function (jsonList) {
            var list = JSON.parse(jsonList);
            $("#IDList").empty();
            list.forEach(function (id) {
                var listItem = $("<li></li>").attr("class", "list-group-item").text(id);
                listItem.on('click', function () {
                    $('#sendToID').val(id); // 点击时设置 sendToID
                });
                $("#IDList").append(listItem);
            });
        });

        // // 更新用戶個人連線 ID 事件
        // connection.on("UpdSelfID", function (id) {
        //     $('#SelfID').html(id);
        // });

        // 更新聊天內容事件
        connection.on("UpdContent", function (msg) {
            $("#Content").append($("<li></li>").attr("class", "list-group-item").text(msg));
        });

        //傳送訊息
        $('#sendButton').on('click', function () {
            let selfID = $('#SelfID').html();
            let message = $('#message').val();
            let sendToID = $('#sendToID').val();
            connection.invoke("SendMessage", selfID, message, sendToID).catch(function (err) {
                alert('傳送錯誤: ' + err.toString());
            });
        });
    </script>


}