@{
    ViewData["Title"] = "FAQ";
}


<h1>FAQ</h1>
<div id="exTab2" class="service">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#student" data-toggle="tab" class="btn btn-danger" aria-expanded="true">學生常見問題</a>
        </li>
        
        <li class="">
            <a href="#teacher" data-toggle="tab" class="btn btn-danger" aria-expanded="false">老師常見問題</a>
    </ul>
    <div class="tab-content">
        <div id="#student" class="tab-pane active">
        <ul>
            <li>
                <h5>
                    Q：「預購課程」需要等待老師確認
                </h5>
            </li>
            <li>
                <p>
                    預購完之後，不代表可以馬上上課唷！老師將在您預購後的48小時內，主動透過您提供的電話與您聯繫，跟您確認上課的時間地點。若您與老師無法達成一致的上課時間，老師有權取消您的預購，系統將全額退還您預刷或預付的費用。
                </p>
            </li>
            <li>
                <h5>
                    Q：我如何與老師聯繫?
                </h5>
            </li>
            <li>
                <p>
                    在您預購後的48小時內，老師將主動透過您提供的電話與您聯繫。若老師同意您的預購後，您將可以在「課程管理」頁面中，取得老師的聯絡方式。
                </p>
            </li>
            <li>
                <h5>
                    Q：可以更改上課時間嗎?
                </h5>
            </li>
            <li>
                <p>
                    更改上課時間，請與老師聯繫，由老師自系統修改上課時間。
                </p>
            </li>

            <li>
                <h5>
                    Q：上課當天，臨時有事情而無法上課，怎麼辦?
                </h5>
            </li>
            <li>
                <p>
                    如距離開課時間剩下不到24小時，為了保障老師權益，若老師未到「課程管理」頁面修改上課時間，課程的費用將照樣給予老師。補課權益在老師身上，如因不可抗力之因素無法上課，建議與老師溝通協調。
                </p>
            </li>

            <li>
                <h5>
                    Q：上課當天，老師沒有出現，怎麼辦？
                </h5>
            </li>
            <li>
                <p>
                    如果到了課程上課時間，無法聯絡到老師，老師也沒有出現在上課地點時，學生可以在課後所發的簡訊或Email「完課確認」中，填寫當天的上課狀況，官方客服將會確認實際狀況後，與雙方聯繫。
                </p>
            </li>

            <li>
                <h5>
                    Q：什麼是「取消課程」
                </h5>
            </li>
            <li>
                <p>
                    當距離課程時間超過24小時，學生[有權]取消課程。課程費用將扣除金流手續費後，退還給學生。請注意，取消課程是取消「整期」所有的課程，如只是一堂課無法上課，請與老師聯繫補課，並由老師修改上課時間。
                </p>
            </li>

            <li>
                <h5>
                    Q：課程還沒上完，覺得老師不適合，怎麼辦?
                </h5>
            </li>
            <li>
                <p>
                    如果整期課程還未上完，覺得老師可能不適合，學生可以使用「取消課程」的方式，將整齊課程取消。以下是退費比例說明：
                    1.當課程進行未到三分之一時退課，將退50%的學費。
                    2.當課程進行已經超過二分之一時退課，將不退費。
                    3.當課程進行介於三分之一~二分之一時退課，將退20%的學費。
                </p>
            </li>

            <li>
                <h5>
                    Q：「完課確認」是什麼？
                </h5>
            </li>
            <li>
                <p>
                    當每一堂課程結束後，官方將會寄出簡訊及Email給老師與雙方，確認當天的上課狀況。如果在72小時內沒有做任何完課確認，將視同已經上課完成。被視為完課的課程，課程之款項將依比例撥給老師。
                </p>
            </li>

            <li>
                <h5>
                    Q：我的「學生頁面」，會被誰看到呢？
                </h5>
            </li>
            <li>
                <p>
                    學生頁面僅有您上課的老師可以看到，並不會對外公開。
                </p>
            </li>

            <li>
                <h5>
                </h5>
            </li>
            <li>
                <p>

                </p>
            </li>

        </ul>
    </div>
    <div id="teacher" class="tab-pane">
        <ul>
            <li>
                <h5>
                    Q：我收到「預購課程」的簡訊通知了
                </h5>
            </li>
            <li>
                <p>
                    學生向老師預購課程，系統將以E-mail和簡訊通知老師，並附上審核課程的連結。請老師在預購後48小時內，透過連結裡提供的學生電話與學生聯繫，並做出「同意」或「拒絕」學生的預購。如果老師超過48小時，本次預購課程將會失效，並將全數款項退還給學生。
                </p>
            </li>
            <li>
                <h5>
                    Q：我可以拒絕學生買的課程嗎?
                </h5>
            </li>
            <li>
                <p>
                    可以唷，當出現「預購課程」的通知，表示學生跟老師預約上課，老師可以檢視學生頁面瞭解學生，並決定是否同意學生課程，或是拒絕課程。
                </p>
            </li>
            <li>
                <h5>
                    Q：我如何與學生聯繫?
                </h5>
            </li>
            <li>
                <p>
                    在學生預購老師的課程後，系統會發送預購審核的簡訊給老師，老師在審核的連結裡，將可以看到學生的姓名和聯絡方式，請老師透過學生提供的聯絡方式與學生聯繫喔！
                </p>
            </li>
            <li>
                <h5>
                    Q：覺得學生怪怪的，可以「取消課程」嗎?
                </h5>
            </li>
            <li>
                <p>
                    老師跟學生都有權益可以「取消課程」。請注意，取消課程是取消「整期」所有的課程。當老師因為個人因素而取消課程，老師將負擔取消課程所產生的金流手續費後，將全額課程費用退還學生。
                </p>
            </li>
            <li>
                <h5>
                    Q：我臨時有事情，課程當天無法上課時，該怎麼辦?
                </h5>
            </li>
            <li>
                <p>
                    建議老師主動透過電話或簡訊聯繫學生，跟學生溝通補課方式，並透過「課程管理」的「改時間」功能更改上課時間。請注意，若您沒有於「課程管理」介面更改上課時間，當上課時間抵達時，系統仍將自動視該堂課為完課。為避免您與學生的糾紛，請務必確實更改上課時間。
                </p>
            </li>
            <li>
                <h5>
                    Q：上課當天，學生臨時有事無法上課，我可以做什麼?
                </h5>
            </li>
            <li>
                <p>
                    學生在課前24小時內，臨時有事無法上課，如果老師未更改上課時間，等到設定的時間抵達時，系統仍將自動視該堂課為完課，老師可獲得該堂課的收入。在該堂上課時間開始前，若老師與學生已協議安排補課時間，為避免造成您與學生的糾紛，請務必透過「課程管理」的「改時間」功能更改上課時間，若沒有修改上課時間，系統仍將於上課時間過後，將該堂課設定為完課。
                </p>
            </li>
            <li>
                <h5>
                    Q：上課當天，學生沒有出現，怎麼辦?
                </h5>
            </li>
            <li>
                <p>
                    如果到了課程上課時間，學生沒有出現在上課地點，也一直無法聯絡到學生，老師可以在「完課確認」中填寫當天的上課狀況，官方客服將會確認實際狀況後，與雙方聯繫。
                </p>
            </li>
            <li>
                <h5>
                    Q：「完課確認」是什麼?
                </h5>
            </li>
            <li>
                <p>
                    當每一堂課程結束後，官方將會寄出簡訊及Email給老師與雙方，確認當天的上課狀況。如果在72小時內沒有做任何完課確認，將視同已經上課完成。被視為完課的課程，課程之款項將依比例撥給老師。
                </p>
            </li>
            <li>
                <h5>
                    Q：我的「老師主頁」，會被誰看到呢？
                </h5>
            </li>
            <li>
                <p>
                    所有學生都會看到老師的頁面，建議老師將「老師主頁」的資料填寫完整，有機會讓更多學生認識你喔。
                </p>


        </ul>
        </div>
    </div>
</div>

<script>
    // $(function () {
    //     var $li = $('ul.tab-title li');
    //     $($li.eq(0).addClass('active').find('a').attr('href')).siblings('.tab-inner').hide();

    //     $li.click(function () {
    //         $($(this).find('a').attr('href')).show().siblings('.tab-inner').hide();
    //         $(this).addClass('active').siblings('.active').removeClass('active');
    //     });
    // });


    function onClick() {
        get_path = location.pathname;
        if (get_path == "/home/course") {
            var d = document.getElementById("myNavbar");
            if (d.className.indexOf("in") > 0) {
                d.className -= "in";
            }
            else {
                d.className += "in";
            }
        }
    }
    
    function onClick_img() {
        var dd = document.getElementById("show_own");
    }
    if($('a.apply-teacher').length>0)
    {
        $('a.apply-teacher').click(function () {
            gatag('event', 'apply_teacher', {
                'event_category': 'link',
                'event_action': 'clikc_event',
                'event_label': 'apply_teacher'
            });
        });
    }

</script>

<style>
    #tab-demo {
        
    }

        #tab-demo > ul {
            display: block;
            /* margin: 0; */
            list-style: none;
        }

    .tab-title {
        list-style: none;
    }

    #tab-demo > ul > li {
        display: inline-block;
        vertical-align: top;
        font-family: '微軟正黑體';
        margin: 0 -1px -1px 0;
        border: 1px solid #BCBCBC;
        /* height: 25px; */
        /* line-height: 25px; */
        background: #cdcdcd;
        padding: 0 15px;
        list-style: none;
        box-sizing: border-box;
    }

        #tab-demo > ul > li a {
            color: #000;
            text-decoration: none;
        }

        #tab-demo > ul > li.active {
            border-bottom: 1px solid #fff;
            background: #fff;
        }

    #tab-demo > .tab-inner {
        clear: both;
        color: #000;
        border: 1px #BCBCBC solid;
    }




</style>
