@{
    ViewData["Title"] = "CoolPon";
}

<h1 style="font-size: 30px;">我的優惠券</h1>

<div class="row playlist-area" >
    <div class="mix col-lg-3 col-md-4 col-sm-6 genres" >
        <div class="playlist-item">
            <img src="~/img/CoolPon/jazz.jpg" class="card-img-top" alt="...">
            <div class="card-body" >
                <h5 class="card-title">爵士樂課程9折券</h5>
                <p class="card-text">購買爵士樂課程10堂以上即可享用9折優惠券</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">有效日期:2024/11/16</small>
            </div>
        </div>
    </div>

    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
        <div class="playlist-item">
            <img src="~/img/CoolPon/R_B.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">節奏藍調課程9折券</h5>
                <p class="card-text">購買節奏藍調課程百堂以上可享用9折優惠券</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">有效日期:2024/11/16</small>
            </div>
        </div>
    </div>


    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
        <div class="playlist-item">
            <img src="~/img/CoolPon/rockrock.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">搖滾樂課程9折券</h5>
                <p class="card-text">購買搖滾樂課程10堂以上即可享用9折優惠券</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">有效日期:2024/11/16</small>
            </div>
        </div>
    </div>


    <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
        <div class="playlist-item">
            <img src="~/img/CoolPon/Hip Hop.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">嘻哈課程9折券</h5>
                <p class="card-text">購買嘻哈課程5堂以上即可享用9折優惠券</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">有效日期:2024/11/16</small>
            </div>
        </div>
    </div>
  
</div>
