@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container ">
    <div class="m-3 fs-3 fw-bold  border-bottom py-4 ">收藏</div>
    <div class="mx-5">
        <div class="mx-auto d-flex flex-md-wrap " id="divCollectProduct">
           
        </div>
    </div>
</div>
<input type="hidden" value="@Model.FMemberId" id="memberId" />
<script>







</script>