@model prjMusicBetter.Models.ViewModels

<!-- 在视图中访问会员信息 -->
<p>会员信息：@Model.Member.FName</p>

<!-- 遍历和显示好友列表 -->
<ul>
    @foreach (var friend in Model.Friends)
    {
        <li>@friend.FUsername</li>
        <!-- 显示其他好友信息 -->
    }
</ul>
