@{
	ViewData["Title"] = "Memberclass";
}
<style>
	.ddd {
		border-bottom: 2px solid #fc0254;
	}
</style>
<section class="playlist-section spad">
	<div class="container-fluid">
		<div class="section-title">
			<h2>我的課程</h2>
			<div class="container-fluid filter-row-container ddd py-4 py-xl-2 px-4 px-lg-5">
				<div class="filter-row">
					<form class="search-form">
						<input type="text" placeholder="輸入課程名稱">
						<button>找尋課程</button>
					</form>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row playlist-area">
			<div class="mix col-lg-3 col-md-4 col-sm-6 genres">
				<a asp-area="" asp-controller="Class" asp-action="Viewclass">
					<div class="playlist-item">
						<img src="~/img/classimg/1.jpg" alt="">
						<h5>輕鬆學配樂！</h5>
					</div>
				</a>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 artists">
				<div class="playlist-item">
					<img src="~/img/classimg/2.jpg" alt="">
					<h5>《什麼？歌曲創作也可以很簡單！》</h5>
				</div>
			</div>
			<div class="mix col-lg-3 col-md-4 col-sm-6 movies">
				<div class="playlist-item">
					<img src="~/img/classimg/3.jpg" alt="">
					<h5>基礎電影配樂課</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Playlist section end -->