@{
	ViewData["Title"] = "Profile";
}
<div b-tzklbdh5rj="" id="content-wrap">
    <div b-tzklbdh5rj="" class="modal fade" id="modalAddToCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div b-tzklbdh5rj="" class="modal-dialog">
            <div b-tzklbdh5rj="" class="modal-content">
                <div b-tzklbdh5rj="" class="modal-header gap-3">
                    <div b-tzklbdh5rj="" class="fw-bold fs-5 text-center" id="modalProductName"></div>
                    <div b-tzklbdh5rj="">
                        <span b-tzklbdh5rj="">NT$</span>
                        <span b-tzklbdh5rj="" class="text-danger" id="modalPrice"></span>
                    </div>
                    <button b-tzklbdh5rj="" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div b-tzklbdh5rj="" class="modal-body">
                    <div b-tzklbdh5rj="" class=" d-flex p-2 align-items-center justify-content-around">
                        <div b-tzklbdh5rj="" style="width: 300px;height: 300px;">
                            <img b-tzklbdh5rj="" src="" alt="" id="modalPhoto" class="rounded">
                        </div>
                        <div b-tzklbdh5rj="">
                            <div b-tzklbdh5rj="" class="fw-bold mx-2">
                                顏色 :
                            </div>
                            <div b-tzklbdh5rj="" class="m-2" style="width: 200px;">
                                <select b-tzklbdh5rj="" name="" id="modalSelectColor" class="form-select form-select-sm">
                                </select>
                            </div>
                            <div b-tzklbdh5rj="" class="fw-bold mx-2">
                                尺寸 :
                            </div>
                            <div b-tzklbdh5rj="" class="m-2" style="width: 200px;">
                                <select b-tzklbdh5rj="" name="" id="modalSelectSize" class="form-select form-select-sm">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div b-tzklbdh5rj="" class="modal-footer d-flex justify-content-between">
                    <div b-tzklbdh5rj="" class="fw-bold p-2 d-flex ">
                        <div b-tzklbdh5rj="" class="border border-dark-subtle text-center cursor-pointer" style="width: 25px;" id="modalBtnReduce">-</div>
                        <input b-tzklbdh5rj="" type="text" value="1" id="modalOrderQty" class="width-50px text-center modalOrderQty" readonly="">
                        <div b-tzklbdh5rj="" class="border border-dark-subtle text-center cursor-pointer" style="width: 25px;" id="modalBtnIncrease">+</div>
                    </div>
                    <div b-tzklbdh5rj="">
                        <button b-tzklbdh5rj="" type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">取消</button>
                        <button b-tzklbdh5rj="" type="button" class="btn btn-dark" id="modalBtnAddToCart">加入</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container row p-2 mx-auto border border-dark rounded-3 m-3">
        <div class="col-3  border rounded-3 p-2 color-FCFCFC">
            <div class="p-3">
                <div class="circle-size-150 mx-auto">
                    <form name="formUploadPhoto">
                        <div>
                            <div class="my-4 mx-auto btnUpload cursor-pointer" style="width:150px; height:150px">
                                <img src="~/img/Member/boy2.JPG" data-filename="MemberId_4.jpg" id="imgMemberPhoto" class="circle-size-150 cover rounded-circle">
                            </div>
                            <div class="width-400 mx-auto">
                                <input type="file" class="form-control" style="visibility:hidden" id="inputUpload" name="Photo">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="mt-3">
                    <input type="hidden" name="MemberId" value="4">
                    <input type="hidden" name="" value="MemberInfo" id="display" class="form-control">
                </div>
            </div>
            <div class="m-3 justify-content-center">
                <div class=" border-bottom align-items-center d-flex">
                    <div class="btnOptions d-flex p-2 gap-3" id="info">  
                        <img class="d-flex w-25-h-25" src="/images/memberphoto/user.png" alt="">
                        個人資料
                    </div>
                </div>
                <div class=" border-bottom align-items-center d-flex">
                    <div class="btnOptions d-flex p-2 gap-3" id="order">
                        <img class="d-flex w-25-h-25" src="/images/memberphoto/myorder.png" alt="">
                        <a href="@Url.Content("~/Members/Memberclass")" class="btn btn-dark">課程查詢</a>
                        
                    </div>
                </div>
                <div class=" border-bottom align-items-center d-flex">
                    <div class="btnOptions d-flex p-2 gap-3" id="myKeep">
                        <img class="d-flex w-25-h-25" src="/images/memberphoto/mykeep.png" alt="">
                        我的收藏
                    </div>
                </div>
                <div class=" border-bottom align-items-center d-flex">
                    <div class="btnOptions d-flex p-2 gap-3" id="myKeep">
                        <img class="d-flex w-25-h-25" src="/images/memberphoto/mykeep.png" alt="">
                        <a href="@Url.Content("~/Members/CoolPon")" class="btn btn-dark">我的優惠券</a>
                    </div>
                </div>
                <div class=" border-bottom align-items-center d-flex">
                    <div class="btnOptions d-flex p-2 gap-3" id="password">
                        <img class="d-flex w-25-h-25" src="/images/memberphoto/exchange.png" alt="">
                        修改密碼
                    </div>
                </div>

            </div>
        </div>
        <div class="col-9  p-2" id="divPartial">
            <form method="post">
                <div class="container">
                    <div class="m-3 fs-3 fw-bold  border-bottom py-4 ">個人資料</div>
                    <div class="p-2 ">
                        <input type="hidden" name="MemberId" value="4">
                        <div class="row justify-content-around p-3">
                            <div class="pt-2 d-flex col-6 align-items-center">
                                <div class=" width-90px text-end fw-bold">姓名 :</div>
                                <div class="mx-2">
                                    Jokic
                                </div>
                            </div>
                            <div class="pt-2 d-flex col-6 align-items-center">
                                <div class=" width-90px text-end fw-bold">生日 :</div>
                                <div class="mx-2">
                                    1995-02-19
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around p-3">
                            <div class="pt-2 d-flex col-6 align-items-center">
                                <div class=" width-90px text-end fw-bold">信箱 :</div>
                                <div class="mx-2">
                                    Jokic@gmail.com
                                </div>
                            </div>
                            <div class="pt-2 d-flex col-6 align-items-center">
                                <div class=" width-90px text-end fw-bold">電話 :</div>
                                <div class="mx-2">
                                    0987854568
                                </div>
                            </div>
                        </div>
                        <div class="pt-2 d-flex col-6 align-items-center  p-3 mt-3">
                            <div class=" width-90px text-end fw-bold">性別 :</div>
                            <div class="mx-2">
                                男
                            </div>
                        </div>
                        <div class="row justify-content-around p-3">
                            <div class="col-12  mt-2 d-flex justify-content-start ">
                                <div class=" width-90px text-end fw-bold">地址 :</div>
                                <div class="mx-2">
                                    台北市
                                </div>
                                <div class="mx-2">
                                    大安區
                                </div>
                                <div class="mx-2">
                                    復興南路一段390號
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-around p-5">
                        <div class="text-center">
                            <input type="submit" value="修改個人資料" class="btn btn-dark p-2 px-4 btnEdit" data-id="4">
                            <a href="@Url.Content("~/Home/Index")" class="btn btn-dark">回首頁</a>

                        </div>
                    </div>
                </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HQovWu9wfZBnLgpt5k7BlUBqt_o4XyyVbyc2vg0tffnMuLqTvxn77jdU8k0bSIFXla1UNXH9GX5Pkyia_lxvHi7TYTlBlr0ytkaL4n-312QAjLEmFmiAX4J6FMdTeXBysN19XNxJP1fxx30rUtbDY2bysWp1aviFk0dFjFbFwr3PFg8lI82D4oXRiEwGT8XfQ">
            </form>
        </div>
    </div>

</div>