@{
    Layout = "_Layout2";
}

<section class="section">
   

       
        <div class="col-lg-12">

            <div class="card">
            <div class="card-body" style="text-align: right;">
                    <h5 class="card-title">作品管理</h5>
               

                <table class="table datatable" style="width: 100%;">
                        
                        <thead>
                        <tr style="text-align:left;">
                                <th><b>作品</b></th>
                                <th>創作者</th>
                                <th>風格</th>
                                <th data-type="date" data-format="YYYY/DD/MM">建立時間</th>
                                <th>試聽</th>
                                
                            </tr>
                        </thead>
                        @*資料列及修改作品*@
                    <tbody >

                        <tr style="text-align:left;">
                                <td>Theodore Duran</td>
                                <td>8971</td>
                                <td>Dhanbad</td>
                                <td>1999/04/07</td>
                                <td>97%</td>
                            <td >
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#WorkModal" data-bs-whatever="Workmdo">修改</button>

                                    <div class="modal fade" id="WorkModal" tabindex="-1" aria-labelledby="WorjModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="EditWork">修改作品</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">作品:</label>
                                                            <input type="text" class="form-control" id="work">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">創作者:</label>
                                                            <input type="text" class="form-control" id="creator">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="inputstyle" class="form-label">風格</label>
                                                            <select id="inputStyle" class="form-select">
                                                                <option selected="">Choose...</option>
                                                                <option>...</option>
                                                            </select>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <label for="upload" class="form-label">上傳檔案</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" type="file" id="formFile">
                                                            </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                            <label for="upload" class="form-label">上傳圖片</label>
                                                            <div class="col-sm-10">
                                                                <input class="form-control" type="file" id="formFile">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <label  class="col-sm-2 col-form-label">作品描述</label>
                                                            <textarea class="form-control" style="height: 100px"></textarea>
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">確認</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger">刪除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <button type="button" class="btn btn-danger">新增作品</button>

                <div >
                </div>
                </div>
            </div>
        </div>
    
</section>