
@{
    ViewData["Title"] = "classclick";
    Layout = "~/Views/Shared/ChartLayout.cshtml";

}
<style>
    input[type="button"] {
        background-color: #f0f0f0;
        color: #333;
    }
</style>
<p>
    <div class="row">  
        <div class="col-4">
            <select id="ChartType2" class="form-control" style="100px">
                <option selected>-Select Chart Type-</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
        <div class="col-4">
            <input id="ID2" value="顯示圖表" type="button"/>
        </div>
    </div>
</p>

<br />
<canvas id="myChart2" style="max-width:600px;max-height:400px" ></canvas>
<!-- 確保加入 jQuery 的引用 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript"></script>
<script>
    $(function () {
        // 初始加載圖表
        loadChartData('bar'); // 假設 'bar' 是預設圖表類型

        $("#ID2").click(function () {
            var chartType = $("#ChartType2").val() || 'bar'; // 如果沒有選擇，則默認為 'bar'
            loadChartData(chartType);
        });

        function loadChartData(chartType) {
            $.ajax({
                type: "POST",
                url: "/Chart/GetClassClicksData",
                data: "",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    renderChart(chartType, data);
                },
                error: Onerror
            });
        }

        function renderChart(chartType, data) {
            var _data = data;
            var _chartLabels = _data[0];
            var _chartData = _data[1];
            var barColor = ["red", "green", "blue", "orange", "brown", "purple"];

            // 檢查是否已經有圖表實例存在，如果有，則先銷毀
            if (window.myChartInstance) {
                window.myChartInstance.destroy();
            }

            window.myChartInstance = new Chart("myChart2", {
                type: chartType,
                data: {
                    labels: _chartLabels,
                    datasets: [{
                        backgroundColor: barColor,
                        data: _chartData
                    }]
                },
            });
        }

        function Onerror(err) {
            console.error(err); // 或者展示一個用戶友好的錯誤信息
        }
    });

</script>

