@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <h1>聯絡我們</h1>
    <h2>
        歡迎跨界合作
        各類音樂相關合作，歡迎來信聯絡我們唷！
        客服電話
        課程相關問題，請來電詢問!
    </h2>

</body>