@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <h1>聯絡我們</h1>
    <h3>
        歡迎跨界合作
        各種音樂相關合作，歡迎來信聯絡我們唷！
    </h3>

    <img src="~/img/mail_couple.png" />

    <h3>
        客服電話
        課程、場地相關問題，請來電詢問!
    </h3>
    
    <img src="~/img/job_call_center.png" />

