@model IEnumerable<prjMusicBetter.Models.TCoupon>

@{
    ViewData["Title"] = "CouponList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<title>優惠券列表</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    /* Ensure that the placeholder images fit the cards properly */
    .card-image {
        width: 100px; /* Adjust the width as necessary */
        height: 100px; /* Adjust the height as necessary */
        object-fit: cover;
    }
</style>
<body class="text-white" style="background-color:#92A8D1">
    <div class="container mx-auto px-4 mt-5 mb-5">
        
        <div class="grid gap-8">
            @foreach (var coupon in Model)
            {
                <div class="flex bg-gray-900 rounded-lg p-4">
                    <div class="flex-grow">
                        <div>
                            <p class="text-4xl font-bold mr-4 mb-2 md:mb-0"><@coupon.FDescription></p>
                            <h3 class="text-lg font-bold mb-1">使用代碼: @coupon.FCouponCode</h3>
                            <p class="mb-1">起始日: @coupon.FStartdate</p>
                            <p>結束日: @coupon.FEnddate</p>
                        </div>
                    </div>
                    <div class="flex-shrink-0">
                        @if (!string.IsNullOrEmpty(coupon.FPicture))
                        {
                            <img src="@Url.Content("~/img/CoolPon/"+coupon.FPicture)" alt="Coupon Image" style="width:130px;height=auto; " />
                        }
                        else
                        {
                            @:No Image
                        }
                    </div>
                </div>
            }
        </div>
       
    </div>
</body>