@{
    ViewData["Title"] = "Login";
}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>


                                <form class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="form3Example3c" class="form-control"value="Kevin@gmail.com" />
                                            <label class="form-label" for="form3Example3c">Your Email </label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4c" class="form-control"value="123" />
                                            <label class="form-label" for="form3Example4c">Password</label>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <!-- First Column for the Register Button -->
                                            <div class="col">
                                                <a asp-area="" asp-controller="Home" asp-action="Register"
                                                   style="border: 1px solid #007bff; padding: 5px; display: inline-block; text-decoration: none; color: #007bff;
                                            transition: all 0.3s ease;">註冊</a>
                                            </div>
                                            <!-- Second Column for the Login Button -->
                                            <div class="col">
                                                <a asp-area="" asp-controller="Home" asp-action="Index"
                                                   style="border: 1px solid #007bff; padding: 5px; display: inline-block; text-decoration: none; color: #007bff;
                                                transition: all 0.3s ease;">登入</a>
                                            </div>
                                            @*後台登入平台*@
                                            <div class="col">
                                                <a asp-area="" asp-controller="BgHome" asp-action="Index"
                                                   style="border: 1px solid #007bff; padding: 5px; display: inline-block; text-decoration: none; color: #007bff;
                                                transition: all 0.3s ease;">後台</a>
                                            </div>
                                            <div class="col">
                                                <a asp-area="" asp-controller="Home" asp-action="ForgetPwd"
                                                   style="border: 1px solid #007bff; padding: 5px; display: inline-block; text-decoration: none; color: #007bff;
                                                transition: all 0.3s ease;">忘記密碼</a>
                                               @* @Html.ActionLink("忘記密碼","ForgetPwd","Home")*@
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    id="img" class="img-fluid"*@ alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>