@{
    ViewData["Title"] = "NoLogin";
}

<h1>NoLogin</h1>

<div class="notReady-context mx-auto" style="width: 500px;">
    <div class="text-center">
        <div class="width-120px mx-auto m-3">
            <img src="@Url.Content("~/img/icons/rejected.png")" alt="">
        </div>
        <div class="m-3">
            <span class="fw-bold"> 很抱歉 , 您尚未登入會員...</span>
        </div>
    </div>
    <div class="text-center m-3">
        <a href="@Url.Content("~/Home/Index")" class="btn btn-dark">回首頁</a>
    </div>
</div>