@{
    ViewBag.Title = "404";
}

<body>
    <div>
        <div>
    
    <h2>不好意思，您可能點擊了錯誤的網址。</h2>
    <div style="float:right" ;>
    <img src="~/img/404.png" height="90" width="90"/>
    </div>
    <div>
        <h3>請問您到本站的目的為?</h3>
        <a href="#" class="site-btn">找專案?</a>
		<a href="#" class="site-btn sb-c2">找樂手?</a>
        <a href="#" class="site-btn">找老師?</a>
		<a href="#" class="site-btn sb-c2">找場地?</a>
        <a href="#" class="site-btn">找音樂?</a>
    </div>
    </div>
    
    </div>
	

</body>

<style>


</style>