@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <h1>服務條款</h1>
    <p>
        SoundBetterMUSIC音樂學習媒合平台網站服務條款（含隱私權及智慧財產權條款）
        歡迎加入SoundBetterMUSIC音樂學習媒合平台！
        以下是SoundBetterMUSIC音樂學習媒合平台（下稱本網站）的服務條款，當您完成會員申請程序，即視為您已閱讀並同意服務條款，本服務條款為SoundBetterMUSIC音樂學習媒合平台網站會員的契約內容，SoundBetterMUSIC音樂學習媒合平台有義務依照服務條款內容為您提供服務，也請您遵守服務條款的約定。

        1. 本網站所提供的服務

        1.1 學習媒合服務

        1.2 金流系統服務

        2. 帳號與密碼政策

        2.1 申請加入會員時，請設定一個合於使用規則的帳號及密碼。並填入確實由您本人所使用之電子郵件信箱與行動電話號碼。

        2.2 請勿重複申請帳號，否則本網站得停止您的會員權利。

        2.3 請依本網站的密碼政策（包括密碼長度、使用英數字或符合）設定密碼，勿與您的個人資料（例如生日、電話、身分證號碼等）或是您在其他網路服務所使用的密碼相同。

        2.4 請妥善保管您的密碼，並盡可能定期或不定期更新。

        2.5 本網站為了核對您的密碼，會在伺服端保管您的密碼經過演算法運算所得的雜湊值（hash value），而絕對不會保管您的密碼的明文（plain text），因此您若遺忘您的密碼，本網站無法提供您的原始密碼，請依照本網站的指示，重新設定密碼。

        3. 個人資料保護

        3.1 由於本網站所提供的學習媒合等服務，有相當程度建立在師生間的信賴關係，因此請確認您在加入會員時所填入的資料，是真實而完整的。

        3.2 您在加入本網站所提供之個人資料均受個人資料保護法所保護。

        3.3 依個人資料保護法規定，本網站告知您以下內容：

        3.3.1 蒐集資料之主體：本網站係由蹦蹦資訊有限公司（下稱本公司）所設置。

        3.3.2 蒐集之目的：係為了本網站所提供教學媒介、音樂及各項藝術推廣服務及充分瞭解會員之使用行為，或為提供上述服務所發生之附隨行為（例如教學及其他各項活動之通知、受理報名、會員管理、服務內容之增加、減少或變更、服務條款之變動），以及其他情形（包括但不限於廣告、行銷、商業管理、本網站合作夥伴活動內容之通知、內部就經營、行銷策略及蒐集整體使用者的相關人口統計資訊之分析等）所需。

        3.3.3 個人資料之類別：因為您參加本網站活動所產生的各種資料，例如：姓名、出生年月日、國民身分證統一編號、護照號碼、特徵（例如您的照片）、教育、職業、聯絡方式（例如電話號碼、電子郵件信箱、社交網站或即時通訊帳號）、財務（例如您的金融帳戶帳號、信用卡號碼或其他支付方式之資料）、社會活動（例如您參與本網站的教學或其他活動）、生活格調（例如使用消費品之種類及服務之細節、個人或家庭之消費模式等）及其他得以直接或間接方式識別您之資料。

        3.3.4 個人資料利用之期間、地區、對象及方式：

        3.3.4.1 利用期間：從本網站蒐集您的資料開始，直到您的會員關係終止後一年內為止；

        3.3.4.2 利用地區：限於本網站的網站及資料庫主機所在位置，以及本網站的服務地區；

        3.3.4.3 利用對象：本網站及合作夥伴；

        3.3.4.4 利用方式：因提供本服務條款所列服務、服務附隨行為及其他情形所需之必要方式，例如：因媒合學習，而通知教學雙方所提供之雙方聯絡方式、教學活動時間、地點；因提供本網站或合作夥伴之活動訊息所需，而為聯絡方式之傳遞；本公司與合作夥伴可能利用 Cookie 及其他技術記錄您的個人資訊並加以分析作為廣告、行銷及商業管理等。

        3.3.5 您可行使之個人資料保護法的權利：

        依照個人資料保護法規定，您可以對本網站提出下列要求：

        3.3.5.1 查詢或請求閱覽您的個人資料。

        3.3.5.2 請求製給您的個人資料複製本。但本網站可能酌收必要的成本費用。

        3.3.5.3 若本網站所蒐集、處理或利用您的個人資料內容有錯誤，或事後有所變動時，請求補充或更正您的個人資料。

        3.3.5.4若本網站違反本法規定蒐集、處理或利用您的個人資料時，請求停止蒐集、處理或利用您的個人資料。

        3.3.5.5 本網站就您的個人資料蒐集之特定目的消失或期限屆滿時，或本網站違反本法規定蒐集、處理或利用您的個人資料時，請求刪除您的個人資料。

        3.3.6 得自由選擇提供個人資料時，不提供將對其權益之影響：您加入本網站的會員時，有部分資料是屬於自由選填的，您可以選擇是否填入，但可能因此使本網站或合作夥伴在某些情況無法通知您，而可能使您喪失參加您有興趣的活動，或是減少本網站或合作夥伴提供服務的機會。

        4. 智慧財產權

        4.1 智慧財產權之歸屬

        本網站的網頁所呈現之所有文字、圖像、圖表、影片、網頁設計、logo、企業識別標誌、商標等，以及本網站使用者介面、前後端之程式、資料庫架構及設計，除有特別標示外，均屬本公司所有或取得授權之智慧財產，依其形式，分別以著作權法、專利法、營業秘密法或商標法以及各類智慧財產權法令及公平交易法保護。

        4.2 利用之方式

        4.2.1得利用之部分：

        本網站所呈現且為本公司所有之文字、圖像、影片，本網站會員得以重製、散布、公開傳輸（透過網路傳輸、散布）之方式，為非營利之利用。

        4.2.2 利用前應先經授權者：

        下列二種情形，於利用前應先經本公司書面授權：

        4.2.2.1 前項文字、圖像、影片，以重製、散布、公開傳輸以外之方式（包括但不限於改作、出租、公開播送、公開展示等）而為非營利之利用者。

        4.2.2.2 本網站所呈現的本公司所有或取得授權之智慧財產，以各種方式而為營利之利用者。

        4.3 對於本網站所呈現的本公司所有或取得授權智慧財產之利用，應清楚標示著作人及本公司之名稱，且利用之結果，不得明示、暗示與事實不符之情形，或有損本網站及本公司之名譽。

        5. 本網站的聲明與責任

        5.1.聲明

        本網站致力於網站的營運正常與順暢，並以各種方式維護內容之正確性與完整性，但不保證本網站或由第三方提供之內容、服務無任何錯誤、不中斷或免於電腦病毒感染，亦不保證所有的網站問題會即時更正，且本網站或第三方所提供資訊、內容及服務將可能隨時變更而未經通知。本網站若有第三方之內容、行為或其他情事使您受有損害，本公司不負任何責任。

        5.2 個人資料之保管

        本公司對於您的個人資料，應盡善良管理人之注意義務，設置適當之維護措施；若因本公司違反法律，致您的個人資料遭不法蒐集、處理、利用或其他侵害您的權利者，本公司將負損害賠償責任。

        5.3 消費者保護

        若您在本網站進行消費，且由本公司網站直接提供商品服務者，則本公司就該消費行為，對於您負有消費者保護法之義務，但如您僅是藉由本公司網站媒合相關教師時，由於本公司未提供任何關於教學服務，因此本公司對於您與教師之任何糾紛，不負擔任何責任。

        5.4 青少年及兒童之保護

        本網站不會有任何危害青少年及兒童身心之內容。未滿20歲之青少年及兒童在法律上不具完全行為能力，若在本網站進行消費，須經父母或法定代理人之事前同意或事後承認，始生法律效力。

        6. 會員行為

        您同意遵循下列事項：

        6.1在使用本網站服務時，提供正確之個人資料。

        6.2 不利用本網站散布關於侮辱、色情、猥褻、與性別、種族、地域、政治等有關之歧視言論。

        6.3 不利用本網站散布任何不實事項，或為任何人身攻擊。

        6.4 不對於本網站為任何電腦網路技術上之攻擊，包括但不限於未經授權而入侵本網站，取得、增加、刪除或變更本網站電磁紀錄，干擾本網站之系統運作或網路頻寬，利用本網站而進行跨網站攻擊。

        6.5 不對於本網站及會員進行網路或實體干擾。

        6.6 不侵犯不論是否屬本公司所有、控制或經授權上之智慧財產權。

        6.7 若您在本網站刊登、傳輸任何文字、圖像、影片等著作，經第三人舉發侵犯著作權、肖像權或其他權利時，本網站得逕行除去該等著作，並通知您。

        7. 會員責任

        7. 1停權

        您若違反本服務條款之內容，則本網站將視情節輕重，予以暫時停權或終止會員權利等處分。

        7.2賠償

        您若違反本服務條款之內容，以致第三方向本公司或本網站求償或為其他法律程序，使本公司或本網站受有損害，您必須負損害賠償責任。

        8. 服務條款修改

        本網站為提供更妥適服務，有修改服務條款之權利；本網站修改服務條款之後，會在本網站網頁公告，並以電子郵件寄發通知至您所填資料中之電子郵件信箱，若您不同意修改後之服務內容，請通知本網站，以終止會員權利。

        9. 準據法與管轄

        您就本網站使用所生之爭議，均以中華民國法律為準據法，並以臺灣臺北地方法院為排他之第一審管轄法院。
    </p>
</body>