@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <h4>教師條款</h4>
    <p>恭喜您成為SoundBetterMUSIC教師會員，以下是本網站相關的服務條款，同時也是SoundBetter有限公司（以下簡稱「本公司」） 與您的教學媒合服務契約內容，您同意時，即對本公司與您發生法律效力：</p>

    <h6>第1條 會員資格</h6>
    <p>第1項 您經登錄成為SoundBetterMUSIC網站（下稱本網站）學生會員後，始得申請加入本網站教師會員。</p>
    <p>第2項 您經本公司形式審核資格通過後，得成為本網站教師會員。</p>
    <p>第3項 您應擔保無犯罪前科，不得利用教學之權力、機會、方法，對於本公司學生會員（下稱學生會員）為不法或不當之行為。</p>
    <p>第4項 您免支付入會費。</p>

    <h6>第2條 本公司網站相關服務條款</h6>
    <p>由於您先前已註冊成為SoundBetterMUSIC學生會員，即視為您已閱讀並同意本公司網站相關服務條款，當您成為SoundBetterMUSIC教師會員時，亦請您繼續遵守服務條款之約定。</p>
    
    <h6>第3條 契約期間</h6>
    <p>第1項 本契約自本公司通知您資格審核通過之日當日生效，為期一年。</p>
    <p>第2項 本契約到期前，如您與本公司均無反對之意思，則本契約自動續約一年，以此類推。</p>
    
    <h6>第4條 自行製作宣傳品</h6>
    <p>第1項 本公司同意由您自行製作影片、照片、banner等宣傳品，並上傳至本公司網站，作為宣傳、行銷之用。
    </p>
    <p>第2項 本公司就上開宣傳品之權利義務包括：</p>
    <p>
        （1） 提供宣傳品所需規格（包括檔案格式、時間長度、影片所需內容等）予您。
    </p>
    <p>
        （2） 審閱您所提供之宣傳品，以確認宣傳品規格符合本公司要求。
    </p>
    <p>
        （3） 對於宣傳品為必要之後製，使影片播放時，呈現本公司之識別標誌 。
    </p>
    <p>第3項 您就上開宣傳影片之權利義務包括：</p>
    <p>（1） 您應自製或自行委請第三人製作宣傳品，成本由您自行負擔。</p>
    <p>（2） 上開宣傳品應符合本公司所要求之規格。</p>
    <p>（3） 您應擔保上開宣傳品內容並無侵害他人著作人格權、著作財產權、商標權、個人資料、隱私權、名譽及其他人格權。</p>
    <p>第4項 您認知並同意上開宣傳品上傳本公司網站時，將呈現本公司之識別標誌。您與本公司雙方均認知並同意，上開識別標誌之呈現，並非表示影片之著作人為本公司之意思。</p>
    <p>第5項 您同意本公司基於本網站、企業或您宣傳、行銷之目的，得對於上開宣傳品為重製（拷貝）、改作（本於影片而衍生新著作、修改內容）、公開傳輸（上傳至網路）等利用行為，並在影片播放中加入本公司之識別標誌。</p>
    <p>第6項 您對於上開宣傳品得為著作權法上所規範之一切合法之利用行為。上開利用行為，不得侵害本公司之商譽、商標權及其他權利。</p>
    
    <h6>第5條 委託製作宣傳影片</h6>
    <p>第1項 您可委託本公司，由本公司或本公司委請之人員撰寫劇本，並製作影片。</p>
    <p>第2項 製作影片之劇本、場地、攝影、後製等，均由本公司提供。</p>
    <p>第3項 影片製作完成，並經雙方同意後，由本公司上傳至本網站或Youtube等網站作為宣傳之用。</p>
    <p>第4項 製作費由您與本公司約定，您先行支付予本公司之後，本公司始應開始進行劇本之撰寫及影片之製作。</p>
    <p>第5項 您應配合本公司為拍攝影片所需，提供相關素材，包括姓名、學經歷、日常、練習及教學、演出照片、影片等個人資料、以及其他拍攝本契約宣傳影片所需資料。</p>
    <p>第6項 影片之籌劃與製作，包括劇本內容、攝影及後製，您可以提供意見。</p>
    <p>
        第7項 著作權：影片及上開劇本之著作人為本公司，擁有完整著作人格權及著作財產權。
    </p>
    <p>第8項 個人資料：雙方均認知影片中所呈現您之個人資料（包括但不限於姓名、特徵、職業、社會活動），均係由您同意提供，由本公司蒐集、處理、利用。利用之目的以下列範圍為限：（一）本網站、企業之宣傳、行銷；（二）您個人教學之宣傳、行銷。</p>
    <p>第9項 本公司以影片之著作權人身分，得對於影片為重製（拷貝）、改作（本於影片而衍生新著作、修改內容）、公開傳輸（上傳至網路）等一切著作權法上所規範之利用行為，並在影片播放中加入本公司之識別標誌。</p>
    <p>第10項 您經本公司之書面同意，得為下列行為：（一）取得影片檔案；（二）擷取畫面；（三）修剪影片；（四）將上開影片、畫面、修剪影片散布（將實體檔案傳遞、流通）或公開傳輸。</p>
    <p>第11項 前項影片、畫面、修剪影片均應保留本公司之識別標誌。</p>
    
    <h6>第6條 媒合</h6>
    <p>第1項 您得在本網站自行編輯、設定您之資歷、可提供教學服務之時間、地點、本公司容許範圍內之每次購課堂數、每堂費用等資訊（以上合稱「您的資訊」），經由本網站提供而為教學服務契約之要約引誘。</p>
    <p>第2項 您應擔保前項您的資訊正確無誤。</p>
    <p>第3項 本公司學生會員得經本網站之媒介，選擇您為教師，而為教學服務契約之要約，經您48小時內於本公司網站課程管理區內審閱教學服務契約後，並按下【確認授課】鈕，即承諾學生會員與您成立教學服務契約。</p>
    <p>第4項 學生會員於前項教學契約成立後，依本網站規則及本公司與學生會員之契約，於授課前支付至本公司指定由您專用之第三方支付帳戶，俟本公司向您及該學生會員確認該次授課完畢後，本公司即扣取百分之二十服務費；本公司與您之帳務為每月十五日結算；上開第三方支付業者另向您收取一定比例之手續費（上開比例由該第三方支付業者制訂）。</p>

    <h6>第7條 教學</h6>
    <p>第1項 您應提供學生會員如前條教學服務契約所約定時間、地點與品質之教學服務。</p>
    <p>第2項 您如與學生會員就課程內容、進度有特別約定，應提供如約定內容之教學服務。</p>
    <p>第3項 您為教學目的而媒合、代理學生會員辦理樂器、消耗品、樂譜、教材等之購買、租賃或使用借貸等，本公司不予干涉，但您應秉誠實信用原則，不得以本公司之名義為之，亦不得以顯逾市價之價格辦理。</p>
    <p>第4項 您與學生會員之間，不得以任何名義，規避本網站之媒合機制及點數、金額之扣除，私下進行教學。</p>
    
    <h6>第8條 請假</h6>
    <p>
        第1項 您若因故無法於約定之教學時間、地點進行教學，應利用本網站請假。若因網路不便、本網站故障等原因，致不能利用本網站請假時，應以電話、簡訊等方式盡速通知本公司人員。
    </p>
    <p>
        第2項 您應於約定之教學時間開始前24小時之前請假。請假完成後，該次教學取消。
    </p>
    <p>
        第3項 您若於約定之教學時間開始前24小時內始請假，應徵得學生會員同意，並改約教學時間，始完成請假手續。若學生會員不同意，則該次教學時間所扣點數或金額，無償退還學生會員。
    </p>
    
    <h7>第9條 契約修改</h7>
    <p>
        第1項 本契約內容如有未盡之處，或有修改之必要，甲乙雙方得合意修改本契約。
    </p>
    <p>
        第2項 本公司於預定契約修改之日（下稱基準日）起算前十日，應於本網站公告修改內容，並以電子郵件、即時通訊或類此方式通知您，但因可歸責您之原因而無法通知者，不在此限。
    </p>
    <p>
        第3項 前項修改內容，至基準日前三日，您仍未表示反對意見者，視為同意修改。
    </p>
    <p>
        第4項 第二項修改內容，您於基準日前三日之前，您表示反對意見者，若本公司至基準日仍未與您磋商者，視為雙方合意解除本契約。
    </p>

    <h6>第10條 違約處理</h6>
    <p>第1項 您若有違反本契約之情事，本公司得終止本契約。</p>
    <p>
        第2項 您若因前項情事，致本公司之商譽或財產受損，或其他可歸責您之原因，致雙方之教學契約無法繼續，本公司得向您請求支付違約金新臺幣20萬元。上開責任，不因本契約終止而受影響。
    </p>
    <p>
        第3項 前項違約金，若低於本公司實際損害之總額，本公司得另行舉證向您請求損害總額與違約金之差額。
    </p>

    <h6>第11條 準據法與管轄</h6>
    
    <p>雙方就本契約內容發生爭執時，以中華民國法律為準據法，並合意由臺灣臺北地方法院為排他管轄之第一審管轄法院。
    </p>
</body>
<style>

</style>